Twisted>=14.0.0
six>=1.7.3
Django==1.6.5
django-cors-headers==0.12
django-filter==0.7
django-reversion==1.8.0
djangorestframework==2.3.13
elasticsearch==1.2.0
jsonfield==0.9.20
requests==2.2.1
uWSGI==2.0.4
uuid==1.30
numpy>=1.6.1
pandas>=0.14.0
autobahn>=0.8.8