<html lang="en">
	<head>
		<title>metrilyx</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		
		<script src="config.js"></script>
		<script src="libs/jquery/jquery-1.10.2.min.js"></script>
		<script src="libs/jquery/jquery-addons.js"></script>
		<script src="libs/jquery/jquery-ui.js"></script>
		<script src="libs/highstock/2.0.1/js/highstock.js"></script>

		<script src="libs/graphing.js"></script>
		<script src="libs/dnd-config.js"></script>
		
		<script src="libs/bootstrap-datetimepicker/js/moment.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
			
		<script src="libs/angular/1.2.9/angular.min.js"></script>
		<script src="libs/angular/1.2.9/angular-resource.min.js"></script>
		<script src="libs/angular/1.2.9/angular-route.min.js"></script>
		<script src="libs/angular/1.2.9/angular-sanitize.min.js"></script>

		<script src="libs/angular-sortable.js"></script>
		
		<script src="app.js"></script>
		<script src="controllers.js"></script>
		<script src="services.js"></script>
		<script src="libs/angular-graphing.js"></script>
		<script src="libs/angular-heatmap.js"></script>
		
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/layout.css">
		<link rel="stylesheet" href="css/graphics.css">
		<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

	</head>
	<body ng-app="app">
		<div id="side-panel" ng-controller="sidePanelController">
			<div style="height:100%;">
				<div class="page-selector-header text-center">
					<table style="width:100%"><tr>
						<td id="model-list-btn" class="text-center side-panel-btn interactive model-list-btn list-active pointer" style="border-right: 1px solid #464646;" ng-click="loadPagemodelList('#model-list-btn')" title="Page listing">
								<span><i class="glyphicon glyphicon-stats"></i></span>
								<span class="edit-panel-btn-label medium">Models</span>
						</td>
						<td id="heatmap-list-btn" class="text-center pointer side-panel-btn interactive model-list-btn" ng-click="loadHeatmapList('#heatmap-list-btn')" title="Heatmap listing" style="border-left: 1px solid #464646;">
							<span><i class="glyphicon glyphicon-fire"></i></span>
							<span class="edit-panel-btn-label medium">Heatmaps</span>
						</td>
					</tr></table>
				</div>
				<div class="padt10 padlr20 small" style="color:#888!important">
					<div class="row" style="margin:0">
						<div class="col-md-6 text-left" style="padding:0">
							<span id="tag-back-btn" class="interactive pointer" ng-click="loadList()">
								<i class="glyphicon glyphicon-chevron-left" style="font-size:14px;"></i>
							</span>
							<span class="padl10 padr5" style="color:#666;font-size:14px;font-weight:bold;">{{selectedTag}}</span>
						</div>
						<div class="col-md-6 text-right" style="padding:0">
							<span>
								<span class="padr10">Browse by</span>
								<select class="dark" style="border-color:#555!important;color:#888!important" ng-model="browseBy" ng-change="onChangeBrowseBy()">
									<option value="name">Name</option>
									<option value="tags">Tags</option>
								</select>
							</span>
						</div>
					</div>
				</div>
				<div>
					<div class="input-group input-group-sm panel-searchbar model-listing">
						<span class="input-group-addon page-icon pointer interactive" onclick="document.getElementById('modelimport').click()" title="Import" style="padding-left:4px;">
							<i class="glyphicon glyphicon-import"></i>
							<div class="edit-panel-btn-label">Import</div>
							<input id="modelimport" type="file" style="display:none;" onchange="angular.element(this).scope().importModel(this.files);">
						</span>
						<input type="text" class="dark" placeholder="Search" ng-model="modelQuery" style="margin-top:7px;border-color:#555 !important">
						
						<a ng-if="modelType==='heatmap/'" href="#/heatmap/new" class="input-group-addon page-icon interactive" title="New">
							<i class="glyphicon glyphicon-plus"></i>
							<div class="edit-panel-btn-label">New</div>
						</a>
						<a ng-if="modelType===''" href="#/new" class="input-group-addon page-icon interactive" title="New">
							<i class="glyphicon glyphicon-plus"></i>
							<div class="edit-panel-btn-label">New</div>
						</a>
					</div>
					<div class="padlr10">
						<a ng-repeat="mdl in modelsList | filter:{name:modelQuery} | orderBy:'name'" ng-click="listItemClicked(mdl)" >
							<div class="page-list-item">
								<span ng-if="modelType==='heatmap/'" class="page-icon">
									<i class="glyphicon glyphicon-fire"></i>
								</span>
								<span ng-if="modelType===''" class="page-icon">
									<i class="glyphicon glyphicon-stats"></i>
								</span>
								<span class="padl5">{{mdl.name}}</span>
								<span class="pull-right padr10" style="color:#343434">{{mdl.user}}</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div><!-- END #side-panel -->
		<div ng-view></div>

		<div ng-include="jsonHtml"></div>
		<div id="global-alerts" class="alert"></div>
	</body>
</html>
