<html lang="en">
	<head>
		<title>metrilyx</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		
		<script src="config.js"></script>
		<script src="libs/jquery/jquery-1.10.2.min.js"></script>
		<script src="libs/jquery/jquery-addons.js"></script>
		<script src="libs/jquery/jquery-ui.js"></script>
		<script src="libs/highstock/1.3.7/js/highstock.js"></script>

		<script src="libs/graphing.js"></script>
		<script src="libs/dnd-config.js"></script>
		
		<script src="libs/bootstrap-datetimepicker/js/moment.min.js"></script>
		<script src="libs/bootstrap/js/bootstrap.min.js"></script>
		<script src="libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
			
		<script src="libs/angular/1.2.9/angular.min.js"></script>
		<script src="libs/angular/1.2.9/angular-resource.min.js"></script>
		<script src="libs/angular/1.2.9/angular-route.min.js"></script>
		<script src="libs/angular/1.2.9/angular-sanitize.min.js"></script>
		
		<script src="libs/angular-jui-sortable.js"></script>
		
		<script src="app.js"></script>
		<script src="controllers.js"></script>
		<script src="services.js"></script>
		<script src="libs/angular-graphing.js"></script>
		<script src="libs/angular-heatmap.js"></script>
		
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/layout.css">
		<link rel="stylesheet" href="css/graphics.css">
		<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">

	</head>
	<body ng-app="app">
		<div id="side-panel" class="inset-shadow" ng-controller="sidePanelController">
			<div class="inset-shadow" style="height:100%;padding-left:10px;padding-right:10px">
				<div class="page-selector-header text-center">
					<a id="model-list-btn" class="interactive model-list-btn list-active" style="color:#ccc" ng-click="loadPagemodelList('#model-list-btn')" href="javascript:void(0)" title="Page listing">
						<span class="marginr10 pad10" style="padding-left:0">
							<div class="iblk">
								<div><i class="glyphicon glyphicon-file"></i></div>
								<div class="edit-panel-btn-label">Models</div>
							</div>
						</span>
					</a>
					<a id="heatmap-list-btn" class="interactive model-list-btn" style="color:#ccc" ng-click="loadHeatmapList('#heatmap-list-btn')" href="javascript:void(0)" title="Heatmap listing">
						<span class="marginr10 pad10">
							<div class="iblk">
								<div><i class="glyphicon glyphicon-fire"></i></div>
								<div class="edit-panel-btn-label">Heatmaps</div>
							</div>
						</span>
					</a>
				</div>
				<div class="input-group input-group-sm panel-searchbar model-listing">
					<span class="input-group-addon page-icon pointer interactive" onclick="document.getElementById('modelimport').click()" title="Import">
						<i class="glyphicon glyphicon-import"></i>
						<div class="edit-panel-btn-label">Import</div>
						<input id="modelimport" type="file" style="display:none;" onchange="angular.element(this).scope().importModel(this.files);">
					</span>
					<input type="text" class="form-control" placeholder="Search" ng-model="modelQuery" style="margin-top:7px">
					<a href="#/{{modelType}}new" class="input-group-addon page-icon interactive" title="New">
						<i class="glyphicon glyphicon-plus"></i>
						<div class="edit-panel-btn-label">New</div>
					</a>
				</div>
				<a ng-repeat="model in modelsList | orderBy:name | filter:modelQuery" href="#/{{modelType}}{{model._id}}" >
					<div class="page-list-item">
						<span class="page-icon">
							<i class="glyphicon glyphicon-stats"></i>
						</span>
						<span class="padl10">{{model.name}}</span>
					</div>
				</a>
			</div>
		</div><!-- END #side-panel -->
		<!--
		<div class="shift" id="stage" ng-controller="pageController">
			<div class="page-mast">
				<div class="row">
					<div class="col-md-6">
						<span class="page-list-btn pointer interactive" title="Page List" onclick="$('.shift').toggleClass('right');">
							<i class="glyphicon glyphicon-list"></i>
						</span>
						<span>
							<a href="#/new" style="color:#ddd" class="interactive">
								<span class="pad5" style="font-size:22px;font-weight:bold;">metrilyx</span>
								<span style="opacity: 0.7">v2.0.1</span>
							</a>
						</span>
					</div>
					<div class="col-md-6">
						<div class="input-group" title="Global tags terminated with ';'">
							<span class="input-group-addon nobg" style="font-size:26px!important;color:#ccc;padding-top:1px!important;"><i class="glyphicon glyphicon-globe"></i></span>
							<input type="text" ng-model="globalTags" key-value-pairs global-tags class="form-control dark" style="height:30px;">
						</div>
					</div>
				</div>
			</div>-->
			<div ng-view></div>
		<!--</div>-->
		<div ng-include="jsonHtml"></div>
		<div id="global-alerts" class="alert"></div>
	</body>
</html>
