<div class="row" style="margin-left:10px;margin-right:10px;margin-bottom:5px;">
		<div class="col-md-6" style="padding:0">
			<span class="btn-group metrics-loaded-list dropup padt5">
				<span class="metric-loaded-btn interactive" data-toggle="dropdown" title="Metrics successfully loaded">{{graph|loadedSeries}} / {{graph.series.length}}</span>
				<ul class="dropdown-menu bottom-shadow metric-status">
					<li ng-repeat="serie in graph.series" class="padlr10 padtb3">
						<span><span class="query-status {{serie.status}}">&#8226;</span>{{serie.query|metricQuery}}</span>
					</li>
		        </ul>
	        </span>
	        <span data-graph-status="{{graph._id}}" class="errors-list" style="padding-top:5px;display:none">
	        	<span class="glyphicon glyphicon-exclamation-sign" data-toggle="dropdown" style="position:relative;top:3px;color:#FF9240;font-size:11px;cursor:pointer"></span>
	        	<ul class="dropdown-menu bottom-shadow" data-graph-error="{{graph._id}}" style="color:#FF9240"></ul>
	        </span>
		</div>
		<div class="col-md-6 text-right" style="padding:0">
			<span>
				<select ng-model="graph.size" ng-change="reflow()" dir="rtl" style="border:none;color:#888;font-weight:bold" class="interactive">
					<option value="small">Small</option>
					<option value="medium">Medium</option>
					<option value="large">Large</option>
				</select>
				<select ng-model="graph.graphType" dir="rtl" style="border:none;color:#888;font-weight:bold;padding-right:0px!important" class="interactive">
					<option value="area">Area</option>
					<option value="bar">Bar</option>
					<option value="column">Column</option>
					<option value="line">Line</option>
					<option value="pie">Pie</option>
					<option value="spline">Spline</option>
					<option value="stacked">Stacked</option>
				</select>
			</span>
		</div>
</div>