<div class="shift" id="stage">
	<div ng-include="pageMastHtml"></div>
	<div ng-include="editPanelHtml"></div>
	<div class="row edit-comp{{editMode}}" id="main-view">
<div class="container" style="width:96%;margin:auto;">
	<div style="margin-top: 30px;">
		<div class="well">
			<div class="padb10" style="font-weight:bolder;font-size:18px;">Step 1</div>
			<div class="row">
				<div class="col-md-3">
					<div>
						<ul>
							<li>This page describes the various elements and controls on the page.</li>
							<li>This tutorial will give you a basic walk through on creating a page / dashboard.</li>
							<li>Start by clicking on the top left corner as seen in image labeled step 1.  This will bring up the page list.</li>
						</ul>
					</div>
				</div>
				<div class="col-md-9 text-right">
					<img src="imgs/tutorials/1_tut.png" width="100%">
				</div>
			</div>
		</div>
	</div>
	<div class="well">
		<div class="padb10 text-right" style="font-weight:bolder;font-size:18px;">Step 2</div>
		<div class="row">
			<div class="col-md-9 text-right">
				<img src="imgs/tutorials/2_tut.png" width="100%">
			</div>
			<div class="col-md-3">
				<div>
					<ul>
						<li>On the left hand side you see a list of existing pages.</li>
						<li>Clicking on any of these will load the page.</li>
						<li>Towards the top there is a '+' icon as shown in the image.  Click on it to start building a new dasboard.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="well">
		<div class="padb10" style="font-weight:bolder;font-size:18px;">Step 3</div>
		<div class="row">
			<div class="col-md-3">
				<div>
					<ul>
						<li>When creating a new page you are brought into edit mode and a new side panel appears.</li>
						<li>Explore to see more controls to manipulate the page.</li>
						<li>You can add additional graphs to a pod by clicked the '+' icon seen to the right.</li>
						<li>Search for a metric to add to the graph in a pod.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9 text-right">
				<img src="imgs/tutorials/3_tut.png" width="100%">
			</div>
		</div>
	</div>
	<div class="well">
		<div class="padb10 text-right" style="font-weight:bolder;font-size:18px;">Step 4</div>
		<div class="row">
			<div class="col-md-9 text-right">
				<img src="imgs/tutorials/4_tut.png" width="100%">
			</div>
			<div class="col-md-3">
				<div>
					<ul>
						<li>After you've found a metric you can drag onto one of the graph place holders in a pod.</li>
						<li>You may drag multiple metrics on to the same graph.</li>
						<li>You can then change the graph type, graph size in terms of hieght.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="well">
		<div class="padb10" style="font-weight:bolder;font-size:18px;">Step 4.1 (optional)</div>
		<div class="row">
			<div class="col-md-3">
				<div>
					<ul>
						<li>Once a metric has been added to the graph you can change options for that metric in the panel below the graph.  There is one panel per metric added.</li>
						<li>Options here pertain to each metric and the data itself.</li>
						<li>All TSDB query options are available here along with other options as seen in the image.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9 text-right">
				<img src="imgs/tutorials/4.1_tut.png" width="100%">
			</div>
		</div>
	</div>
	<div class="well">
		<div class="padb10 text-right" style="font-weight:bolder;font-size:18px;">Step 4.2 (optional)</div>
		<div class="row">
			<div class="col-md-9 text-right">
				<img src="imgs/tutorials/4.2_tut.png" width="100%">
			</div>
			<div class="col-md-3">
				<div>
					<ul>
						<li>More pods can be added by double-clicking the appropriate region as shown in the image.</li>
						<li>Additionally pods, columns, rows, and graphs can be moved to desired postions.</li>
						<li>Graphs can be re-ordered within a pod.</li>
						<li>Pods can be re-ordered within a column and moved to other columns.</li>
						<li>Columns can be re-ordered within a row and moved between rows.</li>
						<li>Rows can be re-ordered within the page.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="well">
		<div class="padb10" style="font-weight:bolder;font-size:18px;">Step 5 and Step 6</div>
		<div class="row">
			<div class="col-md-3">
				<div>
					<ul>
						<li>After the desired dashboard has been constructed, enter a name and ID for the page.</li>
						<li>The ID cannot contain any special characters dashes and underscores are allowed.</li>
						<li>The ID is used in the URL when referencing the page.</li>
						<li>Finally click the save button to save the page.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9 text-right">
				<img src="imgs/tutorials/5_tut.png" width="100%">
			</div>
		</div>
	</div>
</div>

</div>