{
	"Alarm": {
		"properties": {
			"data"		: {"type":"object","index":"not_analyzed"},
			"fqdn"		: {"type":"string","index":"not_analyzed"},
			"FQDN"		: {"type":"string","index":"not_analyzed"},
			"host"		: {"type":"string","index":"not_analyzed"},
			"Host"		: {"type":"string","index":"not_analyzed"},
			"hostname"	: {"type":"string","index":"not_analyzed"},
			"Hostname"	: {"type":"string","index":"not_analyzed"},
			"server"	: {"type":"string","index":"not_analyzed"},
			"Server"	: {"type":"string","index":"not_analyzed"},
			"ip"		: {"type":"string","index":"not_analyzed"},
			"Ip"		: {"type":"string","index":"not_analyzed"},
			"ipaddr"	: {"type":"string","index":"not_analyzed"},
			"IpAddr"	: {"type":"string","index":"not_analyzed"},
			"ip_addr"	: {"type":"string","index":"not_analyzed"},
			"Ip_Addr"	: {"type":"string","index":"not_analyzed"},
			"ipaddress"	: {"type":"string","index":"not_analyzed"},
			"IpAddress"	: {"type":"string","index":"not_analyzed"},
			"ip_address": {"type":"string","index":"not_analyzed"},
			"Ip_Address": {"type":"string","index":"not_analyzed"},
			"gateway"	: {"type":"string","index":"not_analyzed"},
			"Gateway"	: {"type":"string","index":"not_analyzed"},
			"network"	: {"type":"string","index":"not_analyzed"},
			"Network"	: {"type":"string","index":"not_analyzed"},
			"netmask"	: {"type":"string","index":"not_analyzed"},
			"Netmask"	: {"type":"string","index":"not_analyzed"}
		}
	}
}