{
	"dataproviders": [{
		"name": "OpenTSDB",
		"uri": "http://<OpenTSDB host>",
		"query_endpoint": "/api/query",
		"search_endpoint": "/api/suggest",
		"suggest_limit": 50,
		"timeout": 180
	},{
		"name": "Elasticsearch",
		"uri": "http://localhost:9200",
		"search_endpoint": "_search",
		"index": "anno_events"
	}],
	"heatmaps": {
		"analysis_interval": "1m-ago",
		"transport": "mongodb",
		"broker": {
	    	"host": "127.0.0.1",
	    	"port": 27017,
	    	"database": "jobs", 
	    	"taskmeta_collection": "taskmeta_collection"
		}
	},
	"databases":[{
		"ENGINE": "django.db.backends.sqlite3",
        "NAME": "/opt/metrilyx/metrilyx.sqlite3"
	},{
		"ENGINE": "django.db.backends.postgresql_psycopg2",
		"NAME": "metrilyx",
		"HOST": "127.0.0.1",
		"PORT": "5432",
		"USER": "metuser",
		"PASSWORD": "metpass"
	}],
	"celery": {
		"tasks": [
			"metrilyx.heatmap_tasks"
		]
	},
	"annotations": {
		"line_re": "([0-9]+) (.+) ([a-zA-Z0-9_]+):(.+)",
		"messagebus": {
			"topic": "anno_events",
			"address": "localhost",
			"port": 9092,
			"consumer_group": "anno_reader"
		}
	},
	"debug": false
}