{
	"dataprovider": {
		"name": "OpenTSDB",
		"uri": "http://<OpenTSDB url>",
		"port": 4242,
		"suggest_limit": 50,
		"query_endpoint": "/api/query",
		"search_endpoint": "/api/suggest",
		"loader_class": "opentsdb.OpenTSDBDataProvider"
	},
	"databases":[
		{
			"ENGINE": "django.db.backends.sqlite3",
        	"NAME": "data/metrilyx.sqlite3"
		},{
			"ENGINE": "django.db.backends.postgresql_psycopg2",
			"NAME": "metrilyx",
			"HOST": "127.0.0.1",
			"PORT": "5432",
			"USER": "metuser",
			"PASSWORD": "metpass"
		}
	],
	"cache": {
		"enabled": true,
		"interval": 180,
    	"result_size": 50,
    	"datasource": {
    		"url": "/search"
    	}
	},
	"annotations": {
		"enabled": false,
		"url": "http://localhost:9898",
		"endpoints": {
			"annotate": "/api/annotations",
			"search": "/api/query",
			"types": "/api/types"
		},
		"websocket": {
			"uri": "ws://localhost:9898/annotations/data"
		}
	},
	"websocket": {
		"endpoint": "/api/data"
	},
	"tmpdir": "/dev/shm/metrilyx",
	"debug": false,
	"version": "2.5.1"
}
