{
	"dataprovider": {
		"name": "OpenTSDB",
		"uri": "http://<OpenTSDB host>",
		"port": 4242,
		"query_endpoint": "/api/query",
		"search_endpoint": "/api/suggest",
		"loader_class": "opentsdb.OpenTSDBDataProvider",
		"suggest_limit": 50
	},
	"heatmaps": {
		"analysis_interval": "1m-ago",
		"transport": "mongodb",
		"broker": {
	    	"host": ["127.0.0.1"],
	    	"port": 27017,
	    	"database": "jobs", 
	    	"taskmeta_collection": "taskmeta_collection"
		}
	},
	"cache": {
		"interval": 5,
		"retention_period": 12,
		"datastore": {
			"mongodb": {
				"host": ["127.0.0.1"],
		    	"port": 27017,
		    	"database": "metrilyx_cache", 
		    	"collection": "tsmeta_cache"
	    	}
    	},
    	"result_size": 50
	},
	"databases":[
		{
			"ENGINE": "django.db.backends.sqlite3",
        	"NAME": "/opt/metrilyx/metrilyx.sqlite3"
		},{
			"ENGINE": "django.db.backends.postgresql_psycopg2",
			"NAME": "metrilyx",
			"HOST": "127.0.0.1",
			"PORT": "5432",
			"USER": "metuser",
			"PASSWORD": "metpass"
		}
	],
	"celery": {
		"tasks": [
			"metrilyx.celerytasks"
		]
	},
	"annotations": {
		"enabled": false,
		"line_re": "([0-9]+) (.+) ([a-zA-Z0-9_]+):(.+) '({.*})'",
		"dataprovider":{
			"name": "Elasticsearch",
			"host": "localhost",
			"port": 9200,
			"use_ssl": false,
			"search_endpoint": "_search",
			"index": "eventannotations",
			"result_size": 10000000,
			"loader_class": "ess.ElasticsearchEventDataProvider"
		}
	},
	"debug": false
}