@font-face {
  font-family: 'Ropa Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Ropa Sans'), local('RopaSans-Regular'), url(/static/css/ropasans.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/static/css/opensans.ttf) format('truetype');
}

.ashadow {
	-moz-box-shadow: 2px 2px 10px rgba(0,0,0,1);
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,1);
    box-shadow: 2px 2px 10px rgba(0,0,0,1);
}
.rshadow {
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.98);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.98);
    box-shadow: 0 2px 10px rgba(0,0,0,0.98); 
}
.inset-shadow {
    -moz-box-shadow: inset 0 0 1em rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0 0 1em rgba(0,0,0,0.6);
    box-shadow: inset 0 0 1em rgba(0,0,0,0.6); 
}
input.error::-webkit-input-placeholder {
    color: red;
}
input.error {
    border: 1px solid rgba(212,0,19,0.7);
}
.error {
    color: red;
}
textarea.grey {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0, 0.3);  
}
textarea.error {
    color: red;
}
.txt-shadow {
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}
.txt-green {
    color: #00AA00;
}
.med-text {
    font-size: 16px;
}
.large-font {
    font-size: 18px;
}
.xlarge-font {
    font-size: 24px;
}
.faded {
	opacity: 0.5;
}
.activateable-fade {
    opacity: 0.65;
}
.activateable-fade:hover {
    opacity: 1;
}
.activateable-fade-lite {
    opacity:     0.2;
}
.activateable-fade-lite:hover {
    opacity: 1;
}
table {
	border-collapse:collapse;
}
.wireframe {
	border: 1px solid black;
}
.black-trans-bg {
	background: rgba(33,33,33,0.5);
}
.bg-black-trans {
    background: rgba(33,33,33, 0.85);
}
.bg-red {
    background: rgba(255,0,0,0.9);
}
.light-bg {
    background: rgba(255,255,255,0.9);
}
.bg-lite01 {
    background: rgba(255,255,255, 0.1);
}
.bg-grey02 {
    background: rgba(33,33,33, 0.2);   
}
.dark-font {
    color: #333;
}
.light-font {
    color: #A0A0A0;
}
button.light-font:hover {
    color: #ffffff;
}
a.dark-font:hover {
    color: rgba(12,83,195,0.9);
}
.bg-btn-grad {
        background: -webkit-linear-gradient(rgba(55,55,55,0.9),rgba(44,44,44,0.8));
        background:    -moz-linear-gradient(rgba(55,55,55,0.9),rgba(44,44,44,0.8));
        background:     -ms-linear-gradient(rgba(55,55,55,0.9),rgba(44,44,44,0.8));
        background:      -o-linear-gradient(rgba(55,55,55,0.9),rgba(44,44,44,0.8));
        background:         linear-gradient(rgba(55,55,55,0.9),rgba(44,44,44,0.8));
}
.bg-black-grad {
        background: -webkit-linear-gradient(rgba(31,31,31,0.8),rgba(33,33,33,0.9));
        background:    -moz-linear-gradient(rgba(31,31,31,0.8),rgba(33,33,33,0.9));
        background:     -ms-linear-gradient(rgba(31,31,31,0.8),rgba(33,33,33,0.9));
        background:      -o-linear-gradient(rgba(31,31,31,0.8),rgba(33,33,33,0.9));
        background:         linear-gradient(rgba(31,31,31,0.8),rgba(33,33,33,0.9));
}
.bkg-blue {
        background: -webkit-linear-gradient(rgba(49,78,116,0.8),rgba(36,58,85,0.9));
        background:    -moz-linear-gradient(rgba(49,78,116,0.8),rgba(36,58,85,0.9));
        background:     -ms-linear-gradient(rgba(49,78,116,0.8),rgba(36,58,85,0.9));
        background:      -o-linear-gradient(rgba(49,78,116,0.8),rgba(36,58,85,0.9));
        background:         linear-gradient(rgba(49,78,116,0.8),rgba(36,58,85,0.9));
}
.bkg-blue-seethrough {
        background: -webkit-linear-gradient(rgba(49,78,116,0.5),rgba(36,58,85,0.7));
        background:    -moz-linear-gradient(rgba(49,78,116,0.5),rgba(36,58,85,0.7));
        background:     -ms-linear-gradient(rgba(49,78,116,0.5),rgba(36,58,85,0.7));
        background:      -o-linear-gradient(rgba(49,78,116,0.5),rgba(36,58,85,0.7));
        background:         linear-gradient(rgba(49,78,116,0.5),rgba(36,58,85,0.7));
}
.bkg-blue-reverse {
        background: -webkit-linear-gradient(rgba(36,58,85,0.9),rgba(49,78,116,0.9));
        background:    -moz-linear-gradient(rgba(36,58,85,0.9),rgba(49,78,116,0.9));
        background:     -ms-linear-gradient(rgba(36,58,85,0.9),rgba(49,78,116,0.9));
        background:      -o-linear-gradient(rgba(36,58,85,0.9),rgba(49,78,116,0.9));
        background:         linear-gradient(rgba(36,58,85,0.9),rgba(49,78,116,0.9));
}
.bkg-bright-blue {
        background: -webkit-linear-gradient(rgba(12,83,195,0.9),rgba(12,83,195,0.8));
        background:    -moz-linear-gradient(rgba(12,83,195,0.9),rgba(12,83,195,0.8));
        background:     -ms-linear-gradient(rgba(12,83,195,0.9),rgba(12,83,195,0.8));
        background:      -o-linear-gradient(rgba(12,83,195,0.9),rgba(12,83,195,0.8));
        background:         linear-gradient(rgba(12,83,195,0.9),rgba(12,83,195,0.8));
}
.text-glow:hover {
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
    color: #fff;
}
.text-glow-on {
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
    color: #fff;   
}
input.blended {
    background: rgba(0,0,0,0);
    border: 0px solid rgba(0,0,0,0);
}
.blended {
    background: rgba(0,0,0,0);
    border: 0px solid rgba(0,0,0,0);   
}
a.bright-blue-hover:hover {
    color: rgba(12,83,200,0.8);
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}
.list-item:hover {
    background: rgba(33, 33,33, 0.1);
}
.bg-dark-blue {
    background: rgba(36,58,85,0.9);
}
.border-bright-blue {
    border: 1px solid rgba(49,78,116,0.9);
}
.border-dark-blue2 {
    border: 2px solid rgba(36,58,85,0.9);
}
.border-dark-blue {
    border: 1px solid rgba(36,58,85,0.9);
}
.borderl-dark-blue2 {
    border-left: 2px solid rgba(36,58,85,0.9);
}
.bordertb-dark-blue {
    border-top: 1px solid rgba(36,58,85,0.9);
    border-bottom: 1px solid rgba(36,58,85,0.9);
}
.bordert-dark-blue {
    border-top: 1px solid rgba(36,58,85,0.9);
}
.bordert-dark-blue2 {
    border-top: 2px solid rgba(36,58,85,0.9);
}
.borderb-dark-blue2 {
    border-bottom: 2px solid rgba(36,58,85,0.9);
}
.borderb-dark-blue {
    border-bottom: 1px solid rgba(36,58,85,0.9);
}
.borderb-bright-blue {
	border-bottom: 1px solid rgba(12,83,195,0.7);
}
.borderb-bright-blue2 {
    border-bottom: 1px solid rgba(12,83,195,0.5);
}
.bordert-light {
    border-top: 1px solid #A0A0A0;
}
.borderb-ulite {
    border-bottom: 1px solid rgba(255,255,255, 0.04);
}
input.borderb-lite {
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.border-lite {
    border: 1px solid rgba(255,255,255, 0.1);
}
.border-lite2 {
    border: 2px solid rgba(255,255,255, 0.1);
}
.border-lite4 {
    border: 4px solid rgba(255,255,255, 0.1);
}
.borderr-lite {
    border-right: 1px solid rgba(255,255,255, 0.1);
}
.bordert-lite {
    border-top: 1px solid rgba(255,255,255, 0.1);
}
.bordert-lite2 {
    border-top: 1px solid rgba(255,255,255, 0.2);
}
.bordertb-lite {
    border-top: 1px solid rgba(255,255,255, 0.1);
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.bordertb-dark {
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
}
.borderl-dark {
    border-left: 1px solid #444;
}
.borderb-dark {
    border-bottom: 1px solid #444;
}
.border-dark {
    border: 1px solid #444;
}

.borderr-lite2 {
    border-right: 1px solid rgba(255,255,255, 0.2);
}
.borderr-grey {
    border-right: 1px solid rgba(29,29,29,0.7);
}
.borderlr-lite {
    border-right: 1px solid rgba(255,255,255, 0.1);
    border-left: 1px solid rgba(255,255,255, 0.1);
}
.borderb-lite {
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.borderb-lite2 {
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}
.border-ulite {
    border: 1px solid rgba(255, 255, 255, 0.04);
}
.border-blue5 {
    border: 5px solid rgba(12,83,195,0.9);
}
.semi-circle-right {
	border-radius: 0 15px 15px 0;
}
.semi-circle-left {
	border-radius: 22px 0 0 22px;
}
.blue-trans-bg {
    background: rgba(12,83,195,0.6);
}
.light-borderl {
    border-left: 1px solid #A0A0A0;
}
.borderl-lite {
    border-left: 1px solid rgba(255,255,255, 0.1);
}
.blue-border {
    border: 1px solid rgba(12,83,195,0.9);   
}
.blue-border2 {
    border: 2px solid rgb(12,83,195);   
}
.blue-border3 {
    border: 3px solid rgba(12,83,195,0.9);   
}
.blue-bordert {
    border-top: 1px solid rgba(12,83,195,0.9);
}
.blue-borderl7 {
    border-left: 7px solid rgba(12,83,195,0.9);
}
.blue-borderl10 {
    border-left: 10px solid rgba(12,83,195,0.9);
}
.blue-borderb10 {
    border-bottom: 10px solid rgba(12,83,195,0.9);
}
.blue-bordert10 {
    border-top: 10px solid rgba(12,83,195,0.9);
}
.round-top3 {
    border-radius: 3px 3px 0 0;
}
.round-bottom3 {
    border-radius: 0 0 3px 3px;
}
.round-top2 {
    border-radius: 2px 2px 0 0;
}
.round-left3 {
    border-radius: 3px 0 0 3px;
}
.round-right3 {
    border-radius: 0 3px 3px 0;
}
.rounded3 {
    border-radius: 3px;
}
.rounded2 {
    border-radius: 2px;
}