
body {
	margin: 0;
	overflow: none;
	padding:0;
	/*font-family:"Trebuchet MS", Helvetica, sans-serif !important;*/
	font-family: Arial, Helvetica, sans-serif !important;
	color: #666 !important;
}
a {
	text-decoration: none !important;
}
ul {
	list-style-type: none;
}
input {
	border: 1px solid #ccc !important;
	background-color: #eee !important;
	border-radius: 3px;
    padding:2px;
    padding-left: 5px;
    padding-right: 5px;
    
}
input[type=checkbox] {
    -webkit-appearance: none;
    border-radius: 100%;
    padding: 6px !important;
    border: 1px solid #999 !important;
    outline: none !important;
    cursor: pointer;
    background-color: #eee !important;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1) !important;
    -box-shadow: inset 0 0 3px rgba(0,0,0,0.1) !important;
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.1) !important;
}
input[type=checkbox]:checked {
	background-color: #428bca !important;
    border-color: #808080 !important;
}
select {
	border: 1px solid #ccc;
	background-color: #eee !important;
    padding:2px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin: 0;
    -webkit-border-radius:3px !important;
    -moz-border-radius:3px !important;
    border-radius: 3px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    outline: none;
    cursor: pointer; 
}
select[ng-model="timeType"] {
	text-align: center;
	/*border: 1px solid #ccc !important;
	background-color: #fff !important;*/
	border: none !important;
	background: none !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-weight: bold;
	color: #666;
}
#global-alerts {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	display: none;
	opacity: 0.96;
}
[ng-model="serie.paneIndex"],
[ng-model="serie.query.aggregator"],
[ng-model="metric.query.aggregator"],
[ng-model="graph.graphType"],
[ng-model="graph.size"] {
	font: -moz-small-control;
	font: -webkit-small-control;
	border-radius: 2px !important;
	background: none !important;
	padding: 5px !important;
	padding-top: 3px !important;
}
[ng-model="graph.size"].dark,
[ng-model="graph.graphType"].dark {
	border: 1px solid #777 !important;
}
[ng-model="serie.yTransform"],
[ng-model="serie.alias"] {
	font-family: "Courier New", Courier, monospace !important;
	font-size: 13px !important;
}
.page-mast {
	background: rgba(44,44,44,0.8);
	border-bottom: 1px solid rgba(77,77,77,0.8);
	padding: 9px;
	color: #ddd;
}
.page-list-btn {
	display: inline-block;
	padding-left: 7px;
	padding-right: 9px;
	font-size: 22px;
	color: #ddd;
}
.btn-default.gtag-btn {
	color:#888!important
}
.btn-default.gtag-btn.interactive:hover,
.interactive:hover {
	color: #428bca !important;
	cursor: pointer;
}
.list-active {
	color: #428bca !important;
	font-weight: bold !important;
	/*-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: none !important;*/
}
/*
td.list-active {
	color: #428bca !important;
	background-color: #343434 !important;
}*/
.shift {
	position: absolute;
	left:0;
	top: 0;
	-webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.shift.right {
	left: 300px;
	border-left: #303030;
}
.icon-lite {
	color: #ccc;
}
.icon-lite:hover {
	color: #fff;
	text-shadow: -2px 2px rgba(0,0,0,0.5);
}
#side-panel {
	/*position: absolute;*/
	position: fixed;
	bottom:0;
	top: 0;
	left:0;
	background: rgba(55,55,55,0.95);
	padding:0;
	width: 23.5%;
	color: #ccc;
	overflow-y: hidden;
	border-right: 1px solid #212121;
	z-index: 1000;
	-webkit-box-shadow: 10px 0 6px -6px rgba(0,0,0,0.3);
	   -moz-box-shadow: 10px 0 6px -6px rgba(0,0,0,0.3);
	        box-shadow: 10px 0 6px -6px rgba(0,0,0,0.3);
}
#side-panel.offstage,
#side-panel.offstage .model-list-container,
#side-panel.offstage > .model-list-ctrl-bar {
	left: -24%;	
}
.side-panel-page-controls {
	opacity: 0.8;
}
.side-panel-toggle {
	opacity: 0.2;
}
.side-panel-page-controls:hover,
.side-panel-toggle:hover {
	opacity: 1;
	color: #eee;
}
.model-list-btn {
	color: #777;
}
.model-list-btn:hover {
	color: #f3f3f3;
}
td.side-panel-btn {
	width: 50%;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	color: #777;
	/*border-bottom: 1px solid #464646;
	-moz-box-shadow: inset 0 -2px 1em rgba(22,22,22,0.3);
    -webkit-box-shadow: inset 0 -2px 1em rgba(22,22,22,0.3);
    box-shadow: inset 0 -2px 1em rgba(22,22,22,0.3);*/
}
.glyphicon.md {
	font-size: 1.5em;
}
input.form-control.md {
	height: 41px;
	margin-right: 5px;
}
#stage {
	width:100%;
	height: 100%;
	margin-top:0;
	background-color: #efefef;
	overflow-x: hidden;
}
#metrics-list {
   -ms-user-select: none; /* IE 10+ */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}
#edit-panel {
	overflow-y: auto; 
	overflow-x: hidden;
	position: absolute;
	float: left;
	padding: 0px;
	min-width: 0;
	width: 0;
	top:50px;
	bottom: 0;
	background-color: #444;
	border-top: 1px solid #636363;
    opacity: 0;
}
#edit-panel.edit-mode {
	min-width: 0;
	width: 23.5%;
	opacity: 1;
}
.edit-panel-ctrl-bar {
	background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(68,68,68,1) 86%, rgba(68,68,68,0.1) 100%);
	position:fixed;
	width:23.5%;
	text-align:center;
	z-index:1;
}
.model-list-ctrl-bar {
	position:fixed;
	top:0px;
	left:0px;
	width:23.5%;
	z-index: 10;
}
.model-list-container {
	position: fixed;
	top:108px;
	left:0px;
	bottom: 0px;
	width:23.5%;
}
.model-list-container.tag-selected {
	top:138px;
}
.edit-panel-item {
	padding: 10px;
	border-bottom: 1px solid rgba(33,33,33,0.9);
	/*border-top: 1px solid rgba(255,255,255,0.2);*/
	font-weight: bolder;
	color: #ddd;
	background: -webkit-linear-gradient(rgba(77,77,77,0.6),rgba(66,66,66,0.9));
	background:    -moz-linear-gradient(rgba(77,77,77,0.6),rgba(66,66,66,0.9));
	background:     -ms-linear-gradient(rgba(77,77,77,0.6),rgba(66,66,66,0.9));
	background:      -o-linear-gradient(rgba(77,77,77,0.6),rgba(66,66,66,0.9));
	background:         linear-gradient(rgba(77,77,77,0.6),rgba(66,66,66,0.9));
}
.page-selector-header {
	font-size: 26px !important;
	color:#aaa;
	padding-top: 10px;
	padding-bottom: 7px;
	padding-left:15px;
	padding-right: 10px;
	text-align: left;
	background: rgba(55,55,55,0.8);
	border-bottom: 1px solid #222;
}
.page-icon {
	padding:5px;
	border-radius:3px;
	border: 1px solid rgba(0,0,0,0);
	/*color: rgba(255,255,255,0.35);*/
	color: rgba(55,55,55,0.9);
}
.edit-panel-item.header {
	border-bottom: 1px solid rgba(88,88,88,0.5);
	/*height: 50px;*/
	padding: 10px;
}

.edit-panel-item-label {
	/*position: relative;
	bottom: 1px;*/
	font-size: 15px;
}
.edit-panel-btn {
	font-size: 20px !important;
	padding: 10px;
	color: #ccc;
	margin-right: 10px;
}
.edit-panel-btn-label {
	padding-top: 5px;
	font-size: 10px;
}
.edit-panel-btn-label.medium {
	font-size: 14px;
}
[ng-model='droppablePodSchema'] {
	border-top: 1px solid rgba(180,180,180,0.5);
	border-bottom: 1px solid rgba(44,44,44,0.6);
	font-size: 20px !important;
	padding: 14px;
}
[ng-model='droppablePodSchema']:hover {
	background: -webkit-linear-gradient(rgba(66,66,66,0.8),rgba(66,66,66,0.95));
	background:    -moz-linear-gradient(rgba(66,66,66,0.8),rgba(66,66,66,0.95));
	background:     -ms-linear-gradient(rgba(66,66,66,0.8),rgba(66,66,66,0.95));
	background:      -o-linear-gradient(rgba(66,66,66,0.8),rgba(66,66,66,0.95));
	background:         linear-gradient(rgba(66,66,66,0.8),rgba(66,66,66,0.95));
}
[ng-repeat='metric in graph.series'] {
	border-top: 1px solid rgba(0,0,0,0.3);
}
input[ng-model='modelQuery'],
input[ng-model='metricQuery'] {
	width:100%;
	border-radius:20px !important;
	padding-left: 10px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
	outline: none!important;
}
input[ng-model='modelQuery'] {
	border-radius:0 20px 20px 0!important;
}
[ng-model='metricQueryResult'] {
	color: #ccc;
	text-decoration: none !important;
	font-size: 14px;
	position: absolute;
	overflow-y:auto;
	overflow-x:hidden;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	min-height: 20px;
}
[ng-repeat='metric in metricQueryResult'] {
	word-wrap:break-word;
}
[ng-repeat='evtType in graph.annoEvents.eventTypes'].removable-tag {
	border:1px solid #888;
	border-radius:3px;
	float:left;
	padding: 5px;
	padding-bottom:4px;
	display: inline-block;
	margin: 3px; 
}
input[ng-model*='name'] {
	border: 1px solid rgba(255,255,255,0) !important;
	background: none !important;
	text-align: center;
	font-weight: bold;
}
input[ng-model='pod.name'] {
	position: relative;
	top:1px;
	font-size: 16px;
	width:100%;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
	text-align: left;
}
input[ng-model='graph.name'] {
	width: 100%;
	font-size: 14px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.0);
	background: none;
}
input[ng-model='graph.name'].edit-mode,
input[ng-model='pod.name'].edit-mode {
	background:none !important;
	border:1px solid #777 !important;
	color: #ccc !important;
	-moz-box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
}
input[ng-model='model.name'] {
	font-size: 18px;
}
input[ng-model='model.name'].edit-mode {
	border: 1px solid #ccc !important;
	background-color: #eee !important;
	color: #666;
}
[ng-model='model._id'] {
	opacity: 0;
	display: none;
	text-align: center;
	color: #666;
}
[ng-model='model._id'].edit-mode {
	display: inline-block;
	opacity:1;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 5px;
	border-radius: 3px;
}
[ng-model='model.link_tags'] {
	opacity: 0;
	display: none;
}
[ng-model='model.link_tags'].edit-mode {
	opacity: 1;
	display: inline-block;
}
.page-list-item {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 5px;
	color: #ccc;
	border-bottom: 1px solid rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0);
    cursor: pointer;
}
.page-list-item:hover {
	background-color: rgba(222,222,222,0.9);
    border-radius: 26px;
    color: #555 !important;
    font-weight: bold;
}
.page-list-item:hover > .page-icon {
	color: #555 !important;	
}
[ng-repeat="pageModel in pageModels"] {
	text-decoration: none !important;
	/*color: #428bca !important;*/
}

.metric {
	padding:7px;
	padding-left: 17px;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}
#main-view {
	padding:0;
	overflow-y:auto;
	overflow-x:none;
	position: absolute;
	left:0;
	top:50px;
	bottom: 0px;
	width: 100%;
	float: left;
	background-color: #efefef;
	margin:0 !important;
	padding-left:10px !important;
	padding-right:10px !important;
}
#main-view.edit-mode {
	width:76.5%;
	left:23.5%;
}
.page-model-header {
	margin:0;
	padding-top: 15px;
	padding-left:10px;
	padding-right:10px;
}
.page-model-header.edit-mode {
	padding-bottom: 10px;
}
.list-group-item.sm {
	padding: 5px;
}
input.form-control.trans.ng-invalid.ng-dirty,
input.ng-invalid.ng-dirty {
    /*background: rgba(200,0,0,0.3) !important;*/
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
    color: #a94442 !important;
}
.icon-gray {
	color: #999;
}
.metric-query-results {
	margin-top:0;
	margin-bottom:10px;
}
.metric-placeholder {
	background-color:#eee;
}

.animated,
.edit-comp {
	-webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.metric-name {
	overflow-x:hidden;
	text-wrap:none;
	white-space:nowrap;
}
.graph-progress.loaded00,.graph-progress.loaded11,.graph-progress.loaded22,.graph-progress.loaded33,
.graph-progress.loaded44,.graph-progress.loaded55,.graph-progress.loaded66,.graph-progress.loaded77,
.graph-progress.loaded88,.graph-progress.loaded99,.graph-progress.loaded1010,.graph-progress.loaded1111,
.graph-progress.loaded1212,.graph-progress.loaded1313,.graph-progress.loaded1414,.graph-progress.loaded1515{
	display: none;
}
.graph-controls {
	width:280px;
	border-radius:3px;
	border:1px solid #555;
	border-top: 1px solid #777;
	/*padding:5px;*/
	position:absolute;
	top:-3px;
	left:-1px;
	background:rgba(95,95,95,0.95);
	z-index: 5;
}
.heatmap-query-editor {
	border:1px solid #555;
	border-top: 1px solid #777;
	position:absolute;
	top:-1px;
	left:0px;
	background:rgba(95,95,95,0.95);
	z-index: 5;
}
.pod-controls {
	display: none;
}
.pod-controls.edit-mode {
	display: block;
}
.grab {
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.pointer {
	cursor: -moz-pointer;
	cursor: -webkit-pointer;
	cursor: pointer;
}
input.metric-control {
	border: 1px solid #ccc !important;
	background-color: #eee !important;
}
.metric-control-label {
	color: #aaa !important;
	font-size: 13px !important;
	padding-left: 0 !important;
}
.metric-control-label.adhoc {
	color: #ccc !important;
}
.metric-control-header {
	font-size: 14px !important;
	overflow-x:hidden;
	text-wrap:none;
	white-space:nowrap;
	cursor: default !important;
}
.time {
	font-size: 13px !important;
}
.absolute-time-field {
	padding-right: 7px;
	padding-left: 7px;
}
#absolute-time {
	/*float: left;*/
	display: none;
	background: none;
}
#absolute-time.absolute {
	display: inline-block !important;
}
[class*='col-md-'].nopad {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
div[class*='layout-'] {
    border-radius: 2px;
	margin: 0px !important;
	border: 1px solid rgba(0,0,0,0); /* placholder */
}
.layout {
	padding: 0px !important;
	border-radius: 2px;
	margin: 0px !important;
	border: 1px solid rgba(0,0,0,0); /* placholder */
}
.layout.edit-mode {
	min-height: 80%;
}
.layout.edit-mode:hover, .layout-hover {
	border: 1px solid rgba(144,151,34,0.9);
	background: rgba(144,151,34,0.5);
}
.layout-row.edit-mode {
	padding-left: 24px !important;
	padding-right: 24px !important;
}
.layout-row-hover, 
.layout-row.edit-mode:hover {
	border: 1px solid rgba(202,149,66,0.9);
	background: rgba(202,149,66,0.5);
}
.layout-column {
	padding-left:0px !important;
	padding-right:0px !important;
}
.layout-column.edit-mode {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.layout-column.edit-mode:hover, 
.layout-column-hover {
	border: 1px solid rgba(50,105,153,0.5);
	background: rgba(66,139,202,0.5);
}
.layout.edit-mode > .dblclick-helper.edit-mode,
.layout-column.edit-mode > .dblclick-helper.edit-mode {
	height:30px;
	padding:8px;
}
.layout.edit-mode:hover > .dblclick-helper.edit-mode,
.layout-column.edit-mode:hover > .dblclick-helper.edit-mode {
	opacity: 1;
}
.dblclick-helper.column-helper {
	color: rgba(50,105,153,0.8) !important;
}
.dblclick-helper.layout-helper {
	color: rgba(144,151,34,0.9) !important;
}
.dblclick-helper {
	color: #eee;
	display: none;
	opacity: 0;
	font-size: 12px;
	cursor: pointer;
	height:0;
	padding:0;
}
.dblclick-helper.edit-mode {
	display: block;
}
.dblclick-helper.edit-mode:hover {
	opacity: 1;
}
/* === .pod === */
.pod-header {
	padding-top: 5px;
	color: #ddd;
}
.pod-header.edit-mode {
	padding-top: 8px !important;
	padding-left: 5px !important;
	padding-bottom: 8px !important;
	background: rgb(95,95,95) !important;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #454545;
}
.pod {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin:5px;
}
.pod.edit-mode {
	border: 0px solid #eee;
}
.graph-metrics-panel {
	/*
	-moz-box-shadow: inset 0 0 1em rgba(0,0,0,0.48);
    -webkit-box-shadow: inset 0 0 1em rgba(0,0,0,0.48);
    box-shadow: inset 0 0 1em rgba(0,0,0,0.48);
    background: #666;*/
    color: #ccc;
}
/* === .graphs === */
.graphs {
	min-height: 190px;
	background-color: #fff;
}
div.graphs [class='row'] {
	margin:0 !important;
}
div.graphs [class*='col-md-'] {
	padding:0 !important;
}
/* === .graph === */
.graph {
	/*background-color:#ddd;*/
}
.highcharts-container {
	overflow: visible !important;
}
.chart-tooltip {
    background:rgba(90,90,90,0.8) !important;
    z-index: 1000 !important;
    padding: 5px;
    border-radius: 2px;
    border:1px solid rgba(90,90,90,0.9);
    position: relative !important;

}
.chart-tooltip.annotation {
	margin-top: 10px;
}
.graph.small {
	min-height: 190px;
	height: 190px;	
}
.graph.medium {
	min-height: 300px;
	height: 300px;
}
.graph.large {
	min-height: 500px;
	height: 500px;
}
.graph-error {
	color: #ff0000;
	font-size: 12px !important;
}
.gif-loader-table {
	 width 			: 100%;
	 height 		: 100%;
	 text-align 	: center;
	 margin-left 	: auto;
	 margin-right 	: auto;
}
ul.ui-autocomplete.ui-widget-content {
	padding: 0px !important;
	display: inline-block;
	list-style-type: none !important;
	border-radius: 2px !important;
	background-color: rgba(66,66,66,0.9);
	width: 200px;
	font-size: 12px;
	z-index: 1001;
	-webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3);
}
ul.ui-autocomplete.ui-widget-content > li.ui-menu-item {
	border-top: 1px solid #636363 !important;
	border-bottom: 1px solid #454545 !important;
	padding:5px;
	width: 100%;
}
ul.ui-autocomplete.ui-widget-content > li.ui-menu-item > a {
	color: #ccc;
}
ul.ui-autocomplete.ui-widget-content > li.ui-menu-item:hover > a,
ul.ui-autocomplete.ui-widget-content > li.ui-menu-item > a:hover {
	color: #428bca;
}
.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {
	color: #428bca !important;
	font-weight: bold !important;
}
input.form-control.nobg {
	background:none !important;
	border: 1px solid rgba(0,0,0,0) !important;
}
.input-group-btn.nobg,
.input-group-addon.nobg {
	background:none !important;
	border: none !important;
}
a.graph-rm-btn {
	/*background: none !important;
	display: none;*/
	padding: 5px;
	border-radius: 2px;
}/*
a.graph-rm-btn.edit-mode {
	opacity: 1 !important;
	display: inline-block;
}*/
.threshold-label {
	font-weight: bold !important;
	font-size: 12px !important;
	width: 44px;
	display: inline-block;
}
.threshold-label.danger {
	background-color:rgba(187,74,71,0.9);
	border: 1px solid rgba(187,74,71,1);
	color: #eee;
}
.threshold-label.warning {
	color: #eee;
	border: 1px solid rgba(224,158,73,1);
	background-color: rgba(224,158,73,0.9);
}
.threshold-label.info {
	color: #eee;
	border: 1px solid rgba(99,177,211,1);
	background: rgba(99,177,211,0.9)
}
a.pod-header-btn {
	color: #bbb !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	display: none;
}
a.pod-header-btn.edit-mode {
	display: inline-block !important;
}
.pod-btn-bar {
	opacity: 0;
	display: none !important;
}
.pod-btn-bar.edit-mode {
	opacity: 1 !important;
	display: table-cell !important;
}
.form-control[disabled] {
	cursor: default !important;
}
.input-group.panel-searchbar {
	padding-right: 10px;
	padding-bottom: 20px;
	padding-top: 14px;
	padding-left: 12px;
	color: #999;
} 
.input-group.panel-searchbar.model-listing {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
.input-group.panel-searchbar > .input-group-addon {
	background: none !important;
	border: 1px solid rgba(0,0,0,0) !important;
	color: #999;
	border-radius: 2px 0 0 2px !important
}
#browse-by {
	background: none !important;
	border: 1px solid #666 !important;
	border-right:none!important;
	border-radius:20px 0 0 20px!important;
	padding-top:4px!important;
	padding-bottom:5px!important;
	padding-left:10px!important;
	position:relative;
	top:1px;
	color:#888!important;
	font-weight:bold!important;
	font-size:13px!important;
}
select#browse-by:hover {
	color: #f3f3f3 !important;
}
.input-group.panel-searchbar > input.form-control {
	background: none !important;
	border: 1px solid #505050 !important;
	color: #999;
	border-radius: 34px !important;
	padding-left: 10px !important;	
}
[ng-model="modelQuery"]::-webkit-input-placeholder,
[ng-model="metricQuery"]::-webkit-input-placeholder {
	color: #666 !important;
}
[ng-model="modelQuery"]::-moz-placeholder,
[ng-model="metricQuery"]::-moz-placeholder {
	color: #666 !important;	
}
input[ng-model="pod.name"]::-webkit-input-placeholder {
	color: rgba(0,0,0,0);
}
input[ng-model="pod.name"].edit-mode::-webkit-input-placeholder {
	color: #bbb !important;
}

input.trans {
	background:none !important;
	border:1px solid #777 !important;
	border-radius:3px;
	color: #ccc !important;
	-moz-box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
}
select.dark,
input.dark {
	background:none !important;
	border:1px solid #666 !important;
	border-radius:3px;
	color: #ccc !important;
	-moz-box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
}
input.trans.danger,
input.dark.danger {
	color:rgba(200,74,71,1) !important;
}
input.trans.warning,
input.dark.warning {
	color:rgba(224,158,73,1) !important;
}
input.trans.info,
input.dark.info {
	color:rgba(99,177,211,1) !important;
}
.heatgraph-list {
	border-left:none!important;
	border-right:none!important;
	border-radius:0px!important;
}
.list-group-item.heatgraph-list:first-child {
	border-top:none!important;
}
.list-group-item.heatgraph-list:last-child {
	border-bottom:none!important;
}
[global-tags] {
	color: #ccc !important;
}
.bg.danger {
	background:rgba(187,74,71,1);
}
.bg.warning {
	background: rgba(224,158,73,1);
}
.bg.info {
	background-color: #428bca;
}
.metric-editor {
	min-width: 210px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius:0 0 2px 2px;
	background:rgba(66,66,66,0.7);
	color:#aaa;
	-moz-box-shadow: inset 0 0 1em rgba(22,22,22,0.5);
    -webkit-box-shadow: inset 0 0 1em rgba(22,22,22,0.5);
    box-shadow: inset 0 0 1em rgba(22,22,22,0.5);
}
.adhoc-metric-editor {
	display: none;
	position: absolute;
	top: 34px;
	z-index: 4;
	min-width: 280px;
	padding: 10px;
	background:rgba(77,77,77,0.9);
	border-radius:0 0 2px 2px;
	color: #ccc;
}
.tagstr-label {
	text-align: left;
	color: #bbb;
	opacity: 0.7;
	font-size:11px;
	padding-right: 10px;
	padding-left: 10px;
}
.tagstr-label.adhoc {
	color: #777;
	opacity: 1;
}
.graph-metric-label {
	/*border-radius: 2px !important;*/
	color: #ddd !important;
	border-top: 1px solid #636363;
	border-bottom:1px solid #454545;
}
.graph-metric-label.adhoc {
	border-bottom: 0px solid #eee !important;
	border-radius: 2px 2px 0 0 !important;
}
.graph-metric-label.adhoc:hover {
	cursor: pointer;
	border-left: 1px solid #428bca;
}
.graph-metric-label:hover {
	cursor: pointer;
    border-left: 4px solid #428bca;
}
.graph-metric-label-header {
	/*border-top: 1px solid #636363;*/
	font-size:12px
}
.query-status {
	color: #aaa;
	font-size: 16px !important;
	font-weight: bold !important;
	padding-right: 5px;
}
.query-status.querying{
	color: #FF5450 !important;
}
.query-status.updating{
	color: #FFD600 !important;
}
.query-status.loading {
	color: #00FF54 !important;
}
.query-status.loaded {
	color: #428BFF !important;
}
[ng-repeat="serie in graph.series"].selected > .graph-metric-label {
  	border-bottom:1px solid #636363;
  	border-left: 4px solid #428bca;
}
[ng-repeat="serie in graph.series"].selected > .graph-metric-label > .row > div > .tagstr-label,
[ng-repeat="serie in graph.series"].selected > .graph-metric-label > div:last-child {
	color: #428bca !important;
}
.select-container {
	border-radius:3px;
	padding-top: 0px;
	padding-bottom: 3px;
}
.select-container.aggr {
	border:1px solid #777 !important;
}
.select-container.left-caret {
	padding-left: 5px;
}
.select-container.right-caret {
	padding-right: 5px;
}
select.select-input {
	background: none !important;
	padding-top: 3px !important;
	color: #666;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	border: 1px solid #dedede !important;
}
select.select-input.borderless {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0);
	border: 1px solid rgba(0,0,0,0) !important;	
}
select.select-input.borderless:hover {
	color: #428bca;
}
/*select.select-input.borderless:hover {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	border: 1px solid #dedede !important;
}*/
.btn-default {
	color: #666 !important;
}
.btn-default.inverted {

}
.btn-default.inverted:hover {
	color: #ccc !important;
	background:rgba(102,102,102,0.93);
	border: 1px solid rgba(102,102,102,0.93);
}
.btn-default.inverted:focus {
	color: #ccc !important;
	background:rgba(102,102,102,0.93);
	border: 1px solid rgba(102,102,102,0.93);
}
.ui-helper-hidden-accessible { display:none; }
.input-group-addon.trans {
	background: none;
	color: #ccc !important;
	border-color: #888 !important;
}
input.form-control.trans {
	background: none !important;
	color: #ccc;
	border-color: #888 !important;
	-moz-box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 1em rgba(0,0,0,0.2);
}
#adhoc-graph {
	width:96%;
	border-radius:0 3px 3px 3px;
	border:1px solid #ccc;
	background-color:#fff;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.horizontal-graphs.vertical,
.vertical-graphs.horizontal {
	color: #aaa !important;
}
.horizontal-graphs.horizontal,
.vertical-graphs.vertical {
	color: #428bca !important;
}
[ng-include="graphHtml"] {
	/*border: 1px solid #eee;
	border-radius: 2px;*/
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	/*margin:3px;
	margin-left: 3px;
	margin-right: 3px;*/
	perspective: 1000;
}
[ng-include="graphHtml"].horizontal {
	border-left: 1px solid #eee;
	border-right: 1px solid #ddd;
	border-bottom: 0px;
}
/*
[ng-include="graphHtml"].horizontal {
	margin-bottom:6px;
}*/
[ng-repeat="graph in pod.graphs"]:first-child > [ng-include="graphHtml"].horizontal {
	border-left: 0px;
}
[ng-repeat="graph in pod.graphs"]:last-child > [ng-include="graphHtml"].horizontal {
	border-right: 0px;
}
/*
[ng-include="graphHtml"].vertical {
	margin-left:6px;
	margin-right:6px;
}*/
[ng-repeat="graph in pod.graphs"]:last-child > [ng-include="graphHtml"].vertical {
	border-bottom: 0px;
}
.page-tag {
	background-color: #666;
	border-radius: 	2px;
	padding:		5px;
	padding-right: 	7px;
	padding-left: 	7px;
	margin-left:	2px;
	margin-right:	2px;
	color: 			#ddd;
	font-size: 		13px;
}
.tags-panel {
	color:#555;
	display: none;
}
.tags-panel.edit-mode {
	display: block !important;
}
#add-page-tag {
	color: #666;
}
.metric-loaded-btn {
	font-weight:bold;
	color:#555;
	font-size:11px;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
}
.gcontrols-apply-btn {
	padding: 5px;
	text-align: center;
	border:1px solid #888;
	border-radius:3px;
	margin-top: 10px;
	font-size: 13px;
}
.gcontrols-apply-btn:hover {
	border:1px solid #428bca;
	color: #eee;
	background-color: #428bca;
}
input.threshold-input {
	width: 94px;
	line-height: 1.2 !important;
	padding-top: 3px;
	padding-bottom: 3px;
}
.graph-control-details {
	background: rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 0 1em rgba(22,22,22,0.5);
    -webkit-box-shadow: inset 0 0 1em rgba(22,22,22,0.5);
    box-shadow: inset 0 0 1em rgba(22,22,22,0.5);
}
.graph-face.back {
  position: absolute;
  /*top:42px;*/
  top:0;
  left:0px;
  width: 100%;
  /*min-height: 100%;*/
  display: none;
  /*-webkit-transform: rotateY(180deg);*/
  /*padding: 5px;*/
  /*background-color: rgba(255,255,255,0.84);*/
  background-color: rgba(66,66,66,0.9);
  color: #ddd;
  border-radius: 0 0 2px 2px;
  border-left:1px solid #505050;
  border-right:1px solid #505050;
  border-top: 1px solid #777;
  border-bottom: 1px solid #666;
  /*border: 2px solid #ddd;
  border-top: 1px solid #ddd;*/
  z-index: 100;
  /*bottom: 0;*/
  text-align:right; 
}
.graph-face.back.edit-mode {
	display: block;
}
.graph-face.back.edit-mode:hover {
	z-index: 1000;
}
.graph-face.front.edit-mode {
	padding-top:4px;
}
.graph-face.front.edit-mode > .input-group {
	padding-bottom:5px;
}
.blur {
	-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.metrics-loaded-list.dropup:hover .dropdown-menu {
    display: block;  
 }
.dropdown-menu.noshadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.dropdown-menu.bottom-shadow {
	-webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3) !important;
    -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3) !important;
	box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3) !important;
}
.dropdown-menu.result-tags {
	position: absolute;
	top: 24px;
	left:-1px;
	background-color: rgba(60,60,60,0.9);
	border-radius: 0 2px 2px 2px;
	color: #ccc !important;
	border-top: none;
	font-size: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom:none;
}
.dropdown-menu.result-tags li a {
	padding-left: 10px !important;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
.dropdown-menu.result-tags li a:hover {
	background: none;
	color: #428bca !important;
	background-color: rgba(55,55,55,0.5);
}
[ng-repeat="(tagname, tagvalues) in tagsOnPage"].btn-group.open {
	border-radius: 2px 2px 0 0;
	background-color: rgba(44,44,44,0.8);
	color: #ccc !important;
}
li[ng-repeat="tagvalue in tagvalues|orderBy:'toString()'"] > a {
	color:#ccc !important;
	border-top: 1px solid #636363;
	border-bottom:1px solid #444;
}
li[ng-repeat="tagvalue in tagvalues|orderBy:'toString()'"]:last-child > a {
	border-bottom: none !important
}
.btn-group.open > .dropdown-toggle {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
}
.dropdown-menu.sp-page-controls,
.dropdown-menu.page-controls,
.dropdown-menu.metric-status {
	margin-bottom:5px;
	margin-top:5px;
	font-size:11px;
	background-color: rgba(55,55,55,0.8);
	color: #ddd;
	text-align: left !important;
	border-radius: 2px !important;
	border-bottom: none !important;
	word-wrap: none !important;
}
.dropdown-menu.sp-page-controls {
	top: -10px !important;
	left: 36px !important;
}
.dropdown-menu.sp-page-controls,
.dropdown-menu.page-controls {
	font-size: 13px;
}
.dropdown-menu.sp-page-controls li a,
.dropdown-menu.page-controls li a {
	color: #ccc;
}
.dropdown-menu.sp-page-controls li a:hover,
.dropdown-menu.page-controls li a:hover {
	color: #666;
}
.query-editor-footer {
	text-align: right;
	border-top: 1px solid #636363;
	border-radius: 0 0 2px 2px !important;
}
.bottom-shadow {
	-webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3);
	        box-shadow: 0 10px 6px -6px rgba(0,0,0,0.3);
}
.none-active {
    -webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.5);
	        box-shadow: 0 10px 6px -6px rgba(0,0,0,0.5);
}
.page-footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	padding: 5px;
}
.reconnect-btn {
	padding-top: 4px;
	padding-bottom: 3px;
	border-radius: 2px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 12px;
}
#event-anno-details {
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	top: 0px;
	bottom: 0px;
	right:-310px;
	width: 300px;
	height: 100%;
	background: rgba(45,45,45,0.8);
	color: #ddd;
	font-size: 12px;
	word-wrap:break-word;
	border-left: 1px solid rgba(255,255,255,0.2);
	-webkit-box-shadow: -10px 0 6px -6px rgba(0,0,0,0.3);
	   -moz-box-shadow: -10px 0 6px -6px rgba(0,0,0,0.3);
	        box-shadow: -10px 0 6px -6px rgba(0,0,0,0.3);
}
#event-anno-details.open {
	right:0px;
	z-index: 1001;
}

.animate-if {
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}
.metric-search-result {
	border-bottom:1px solid #454545;
	margin-top:64px;
}