<div class="shift" id="stage">
	<div ng-include="pageMastHtml"></div>
	<div ng-include="editPanelHtml"></div>
	<div class="row edit-comp{{editMode}}" id="main-view">
		<div class="col-md-12" style="padding:0">
			<div ng-include="pageHeaderHtml"></div>
			<div ng-model="graph" ws-highstock-graph>
				<div class="row" style="margin:0;margin-left:auto;margin-right:auto;width:96%">
					<div class="col-md-12" style="padding:0">
						<div ng-include="queryEditorHtml"></div>
					</div>
				</div>
				<div id="adhoc-graph" class="graph {{graph.size}} text-center animated" data-graph-id="{{graph._id}}" ui-sortable ng-model="graph.series">
					<table class='gif-loader-table' style="color:#ccc"><tr><td>
					Drag metrics here from search
					</td></tr></table>
				</div>
				<div class="padtb5">
					<div ng-include="thresholdsHtml"></div>	
				</div>
				<div class="text-center small">
					<a href="#/tutorials" class="pad5 interactive" style="font-weight:bold;color:#555">	tutorials</a>
				</div>
			</div>
		</div>
	</div>
</div>