<div class="shift" id="stage">
	<div ng-include="pageMastHtml"></div>
	<div ng-include="editPanelHtml"></div>
	<div class="row edit-comp{{editMode}}" id="main-view">
		<div class="col-md-12" style="padding:0">
			<div ng-include="pageHeaderHtml"></div>
			<div ng-model="graph" highstock-adhoc-graph>
				<div class="row" style="margin:0;">
					<div class="col-md-12 text-center">
						<div class="btn-group btn-group-sm" ng-repeat="serie in graph.series">
						    <button type="button" style="padding-top:8px;padding-bottom:8px" class="btn btn-default" ng-click="graph.series.splice(graph.series.indexOf(serie), 1);">
						    	<span><i class="glyphicon glyphicon-remove"></i></span>
						    </button>
						    <button type="button" class="btn btn-default" onclick="$('[ng-repeat=\'serie in graph.series\']').children('div').hide();$(this).next().show();">
						    	<span class="padlr5">{{serie.query.metric}}</span>
						    	<span class="animated {{serie.loading}}"><img src='/imgs/loader.gif'></span>
						    </button>
						    <div class="adhoc-metric-editor">
							    <div class="row" style="margin:0">
							    	<div class="col-md-8 text-left" style="padding:0px !important">
								    	<span class="metric-control-label">aggregator</span>
								    	<select ng-model="serie.query.aggregator" class="dark">
											<option value="min">min</option>
											<option value="avg">avg</option>
											<option value="sum">sum</option>
											<option value="max">max</option>
										</select>
									</div>
							    	<div class="col-md-4 text-right" style="padding:0px !important">
								    	<span class="metric-control-label">rate</span>
								    	<input type="checkbox" ng-model="serie.query.rate">
							    	</div>
							    </div>
							    <div class="input-group input-group-sm padt5">
							    	<span class="input-group-addon nobg metric-control-label">tags</span>
							    	<input type="text" class="form-control dark" ng-model="serie.query.tags" key-value-pairs>
							    </div>
							    <div class="input-group input-group-sm padt5">
							    	<span class="input-group-addon nobg metric-control-label">alias</span>
							    	<input type="text" class="form-control dark" ng-model="serie.alias">
							    </div>
							    <div class="input-group input-group-sm padt5">
							    	<span class="input-group-addon nobg metric-control-label">y-transform</span>
							    	<input type="text" class="form-control dark" ng-model="serie.yTransform">
							    </div>
							    <div class="pull-right padt5">
							    	<span class="pointer interactive padlr5" onclick="$(this).parent().parent().hide();" title="Cancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
							    	<span class="pointer interactive padlr5" title="Apply" ng-click="reloadGraph();"><i class="glyphicon glyphicon-ok"></i></span>
							    </div>
						    </div>
						</div>
					</div>
				</div>
				<div class="graph {{graph.size}} text-center marginlra margintb10 pad3 animated"  style="width:96%;border-radius:3px;border:1px solid #aaa;background-color:#fff;" data-graph-id="{{graph._id}}" ui-sortable ng-model="graph.series">
					<table class='gif-loader-table' style="color:#ccc"><tr><td>
					Drag metrics here from search
					</td></tr></table>
				</div>
				<div class="padtb5">
					<div ng-include="thresholdsHtml"></div>	
				</div>
				<div class="text-center small">
					<a href="#/tutorials" class="pad5 interactive" style="font-weight:bold;color:#555">	tutorials</a>
				</div>
			</div>
		</div>
	</div>
</div>