<div class="edit-comp{{editMode}}" id="edit-panel">
	<div class="edit-panel-ctrl-bar">
		<div class="input-group input-group-sm panel-searchbar">
			<input type="text" ng-model="metricQuery" ng-change="searchForMetric()" placeholder="Metric Search" class="dark" style="border:1px solid #666 !important">
			<span class="input-group-addon nobg" style="padding-right:0px!important;">
				<i class="glyphicon glyphicon-search"></i>
			</span>
		</div>
	</div>
	<div class="metric-search-result">
		<div ui-sortable="metricListSortOpts" ng-model="metricQueryResult" drag-copy>
			<div class="metric interactive page-list-item" ng-repeat="metric in metricQueryResult" ng-model="metric" title="{{metric.query.metric}}" style="color:#ccc">
				<span>{{metric.query.metric}}</span>
			</div>
		</div>
	</div>
</div>