<div id="event-anno-details" class="animated">
	<div onclick="$('#event-anno-details').removeClass('open')" class="pad10" style="background-color:#606060;border-bottom:1px solid #404040;cursor: e-resize;">
		<table><tr>
			<td style="padding-right:10px;">
				<span  style="color:#ccc">
					<i class="glyphicon glyphicon-chevron-right"></i>
				</span>
			</td>
			<td style="color: {{selectedAnno.color}};">
				<div style="font-size:14px;">
					<span><b>{{selectedAnno.eventType}}</b></span>
					<span class="padl10 small" style="color:#aaa">{{selectedAnno.timestamp|dateTime: true}}</span>
				</div>
				<div style="font-size:12px" class="padt3">{{selectedAnno.message}}</div>		
			</td>
		</tr></table>	
	</div>
	<div ng-repeat="(evtKey,evtVal) in selectedAnno.data" class="padtb6 padlr10" style="border-top:1px solid #636363;border-bottom:1px solid #343434">
		<span class="padr5"><b>{{evtKey}} :</b></span><span class="padl5" style="color: #bbb">{{evtVal}}</span>
	</div>
</div>