<div class="graph-control-details global-anno bottom-shadow" style="color: #ccc">
	<div style="position:relative;left: 30px;">
		<canvas id='anno-tri' width="30" height="12"></canvas>
		<script type="text/javascript">$(drawTri('anno-tri', 'rgba(95,95,95,0.95)'));</script>
	</div>
	<div class="padtb10 padlr5" style="background:rgba(95,95,95,0.9);border-radius:3px">
		<div class="padlr10" style="border-bottom:1px solid #606060">
			<div>
		    	<div class="small text-left marginb5"><b>Tags :</b></div>
		    	<ul style="margin-bottom:5px;padding-left:10px">
					<li ng-repeat="(tk,tv) in globalAnno.tags" class="padtb3">
		    			<div class="input-group input-group-sm">
		    				<span class="input-group-addon trans">{{tk}}</span>
		    				<input ng-model="globalAnno.tags[tk]" type="text" title="Edit tag values" class="form-control trans">
		    				<span class="input-group-addon trans interactive pointer" ng-click="removeTag(globalAnno.tags, tk);">		
		    					<i class="glyphicon glyphicon-remove"></i>
		    				</span>
		    			</div>
					</li>
				</ul>
		    </div>
		    <div class="input-group input-group-sm padb10">
		    	<span class="input-group-addon nobg" style="color:#ccc;border-color:#888;padding-left:0">
		    		<i class="glyphicon glyphicon-search"></i>
		    	</span>
		    	<input type="text" class="form-control dark" ng-model="globalAnno.tags" tagkeyvalue style="border-color:#888 !important;border-radius:30px;">
		    </div>
	    </div>
	    <div class="padlr10" style="border-top:1px solid #808080;border-bottom:1px solid #606060;">
		    <div class="padtb10">
				<div class="small"><b>Types :</b></div>
				<div class="padl7">
					<div ng-repeat="evtType in globalAnno.eventTypes" class="small removable-tag">
						<a href="javascript:void(0)" style="color:#606060" class="interactive" ng-click="globalAnno.eventTypes.splice($index,1)">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
						<span>{{evtType}}</span>
					</div>
				</div>
				<div style="clear:both;"></div>
				<div class="input-group input-group-sm padt5">
			    	<span class="input-group-addon nobg" style="color:#ccc;border-color:#888;padding-left:0">
			    		<i class="glyphicon glyphicon-search"></i>
			    	</span>
			    	<input type="text" class="form-control dark" style="border-radius:30px;border-color:#888 !important" ng-model="globalAnno.eventTypes" event-types>
		    	</div>
			</div>
		</div>
		<div class="padt10 padlr10" style="border-top:1px solid #808080!important">
			<div class="gcontrols-apply-btn pointer" title="Apply event annotation changes" ng-click="setAnnotations()" >
				<span>Apply</span>
			</div>
		</div>
	</div>
</div>