<div class="graph-container">
	<div class="graph-face front{{editMode}}">
		<div class="graph-progress loaded{{graph|loadedSeries:false}}{{graph.series.length}}">
			<div class="progress" style="margin-top:0px!important;margin-bottom:0px!important;height:4px;text-align:bottom;">
					<div class="progress-bar" role="progressbar" aria-valuenow="graph|loadedSeries: true" aria-valuemin="0" aria-valuemax="100" style="width: {{graph|loadedSeries: true}}%;background-color: #428bca"></div>
			</div>
		</div>
		<div class="input-group input-group-sm text-center padtb5" style="width:100%">
			<a href="javascript:void(0)" class="input-group-addon nobg interactive" onclick="$(this).next().show()">
				<i class="glyphicon glyphicon-cog" style="font-size:14px;"></i>
			</a>
			<div ng-include="graphControlsHtml" style="display:none" data-graph-controls="{{graph._id}}"></div>
			<span class="form-control" style="border:none;-webkit-box-shadow:none"><strong>{{graph.name}}</strong></span>
			<span class="input-group-addon nobg interactive" ng-click="reloadGraph(graph);" title="Refresh">
				<i class="glyphicon glyphicon-refresh interactive" style="font-size:12px;color:#666;font-weight:bold"></i>
			</span>
		</div>
		<div class="graph {{graph.size}} text-center animated"  style="width:99.9%" data-graph-id="{{graph._id}}" ui-sortable ng-model="graph.series">
			<table class='gif-loader-table' style="color:#ccc"><tr><td>
				Drag metrics here from search
			</td></tr></table>
		</div>
		<!-- graph footer -->
		<div class="row" style="margin:0;padding-bottom:5px;">
			<div class="col-md-3">
				<span class="btn-group metrics-loaded-list dropup">
					<span class="metric-loaded-btn interactive" data-toggle="dropdown" title="Metrics successfully loaded">{{graph|loadedSeries}} / {{graph.series.length}}</span>
					<ul class="dropdown-menu bottom-shadow metric-status">
						<li ng-repeat="serie in graph.series" class="padlr10 padtb3">
							<span><span class="query-status {{serie.status}}">&#8226;</span>{{serie.query|metricQuery}}</span>
						</li>
			        </ul>
		        </span>
			</div>
			<div class="col-md-9">
				<span data-graph-status="{{graph._id}}"></span>
			</div>
		</div>
		<!-- graph controls overlayed on top of graph -->
		<div class="graph-face back{{editMode}} animated">
			<div class="padtb10 padl5 padr4" style="background:rgb(95,95,95);border-bottom:1px solid #505050;border-top:1px solid #777">
				<div class="input-group input-group-sm" style="width:100%">
					<span class="input-group-addon nobg pointer" style="color:#bbb" onclick="$(this).next().show()" title="Graph Controls">
						<i class="glyphicon glyphicon-cog interactive" style="font-size:14px;"></i>
					</span>
					<div ng-include="graphControlsHtml" style="display:none" data-graph-controls="{{graph._id}}"></div>
					<span class="input-group-addon nobg" title="Show Metric Editor"  style="color:#bbb" data-toggle="collapse" data-target="[data-query-set='{{graph._id}}']">
						<i class="interactive glyphicon glyphicon-chevron-down" style="font-size:14px"></i>
					</span>
					<span title="Preview Graph" ng-click="previewGraph(graph)" class="input-group-addon nobg pointer" style="color:#bbb">
						<i class="interactive glyphicon glyphicon-eye-open"></i>
					</span>
					<input type="text" ng-model="graph.name" class="form-control idark" placeholder="Graph Name">
					<span class="input-group-addon nobg pointer" style="color:#bbb" ng-click="pod.graphs.splice(pod.graphs.indexOf(graph),1);reflow();" title="Remove Graph">
						<i class="glyphicon glyphicon-trash interactive" style="font-size:14px;"></i>
					</span>
				</div>
			</div>
			<div data-query-set="{{graph._id}}" class="collapse in" style="background-color: rgba(66,66,66,0.9);">
				<div ng-if="graph.graphType!=='pie'"  class="text-left padlr10 small" style="border-top:1px solid #636363;border-bottom:1px solid #454545">
					<div class="padtb10">
						<span class="padl5 padr10"><b>Mult-paned layout</b></span>
						<span class="pull-right padr4"><input type="checkbox" ng-model="graph.multiPane"></span>
					</div>
					<div ng-if="graph.multiPane">
						<ul class="animated padb5" style="margin-bottom:0px;">
							<li ng-repeat="pane in graph.panes track by $index" class="padtb2">
								<span>
									<span class="padr10" style="color:#ccc">Pane <b>{{$index}}</b></span>
									<input type="text" placeholder="Pane name" style="background:none!important" class="dark" ng-model="graph.panes[$index]">
									<span ng-if="$index>1">
										<a href="javascript:void(0)" class="interactive" style="color:#ccc" ng-click="graph.panes.splice($index,1)" title="Remove pane">
											<i class="glyphicon glyphicon-minus"></i>
										</a>
									</span>
								</span>
							</li>
							<li ng-if="graph.panes.length<graph.series.length" class="padt5" title="Add new pane">
								<a href="javascript:void(0)" class="interactive" style="color:#ddd" ng-click="graph.panes.push('')">
									<span><i class="glyphicon glyphicon-plus"></i></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div ng-include="queryEditorHtml" style="width:100%"></div>
			</div>
		</div>
	</div>
</div>