<div class="text-left graph-controls bottom-shadow" style="color:#ccc">
	<div class="padtb10 padlr10" style="background:rgba(0,0,0,0.1);border-radius: 3px 3px 0 0;border-bottom:1px solid #505050">
		<span class="pointer interactive" onclick="$(this).parent().parent().parent().hide()" title="Close"><i class="glyphicon glyphicon-cog"></i></span>
	</div>
	<div class="padlr10 padtb6" style="border-bottom:1px solid #505050;border-top:1px solid #777;">
		<span class="padr5">
			<span class="small">Size :</span>
			<select ng-model="graph.size" ng-change="reflow()" class="dark">
				<option value="small">small</option>
				<option value="medium">medium</option>
				<option value="large">large</option>
			</select>
		</span>
		<span class="padlr5">
			<span class="small">Type :</span>
			<select ng-model="graph.graphType" class="dark"> 
				<option value="line">line</option>
				<option value="spline">spline</option>
				<option value="area">area</option>
				<option value="stacked">stacked</option>
				<option value="pie">pie</option>	
			</select>
		</span>
	</div>
	<div ng-if="graph.graphType!=='pie'&&!graph.multiPane" class="text-right">
		<div class="text-left padlr10 padtb6" style="border-top:1px solid #777;border-bottom:1px solid #505050">
			<a href="javascript:void(0)" data-toggle="collapse" data-target="[data-graph-thresholds='{{graph._id}}']" style="color:#ccc" class="interactive">
				<span>Thresholds</span>
				<span class="padlr5 pull-right"><i class="glyphicon glyphicon-chevron-down"></i></span>
			</a>
		</div>
		<div data-graph-thresholds="{{graph._id}}" class="collapse padlr10 graph-control-details" style="border-bottom:1px solid #505050;">
			<div class="padtb10">
				<div>
					<div class="threshold-label" style="color:rgba(200,74,71,1);">Danger:</div>
					<input type="text" ng-model="graph.thresholds.danger.max" class="threshold-input trans danger">
					<span class="small" style="color:#aaa"> to </span>
					<input type="text" ng-model="graph.thresholds.danger.min" class="threshold-input trans danger">
				</div>
				<div>
					<div class="threshold-label" style="color:rgba(224,158,73,1);">Warn:</div>
					<input type="text" ng-model="graph.thresholds.warning.max" class="threshold-input trans warning">
					<span class="small" style="color:#aaa"> to </span>
					<input type="text" ng-model="graph.thresholds.warning.min" class="threshold-input trans warning">
				</div>
				<div>
					<div class="threshold-label" style="color:rgba(99,177,211,1);">Info:</div>
					<input type="text" ng-model="graph.thresholds.info.max" class="threshold-input trans info">
					<span class="small" style="color:#aaa"> to </span>
					<input type="text" ng-model="graph.thresholds.info.min" class="threshold-input trans info">
				</div>
				<div ng-if="modelType!=='heatmap/'" class="gcontrols-apply-btn pointer" ng-click="setPlotBands(graph)" title="Apply threshold changes">
					<span>Apply</span>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="graph.graphType!=='pie'" style="border-top:1px solid #777">
		<div class="padlr10 padtb6">
			<a href="javascript:void(0)" data-toggle="collapse" data-target="[data-graph-eventanno='{{graph._id}}']" style="color:#ccc" class="interactive">
				<span>Event Annotations</span>
				<span class="padlr5 pull-right"><i class="glyphicon glyphicon-chevron-down"></i></span>
			</a>
		</div>
		<div data-graph-eventanno="{{graph._id}}" class="collapse graph-control-details padlr10">
			<div class="padtb10">
				<div>
			    	<div class="metric-control-label text-left marginb5">Tags :</div>
			    	<ul style="margin-bottom:5px;padding-left:10px">
						<li ng-repeat="(tk,tv) in graph.annoEvents.tags" class="padtb3">
			    			<div class="input-group input-group-sm">
			    				<span class="input-group-addon trans">{{tk}}</span>
			    				<input ng-model="graph.annoEvents.tags[tk]" type="text" title="Edit tag values" class="form-control trans">
			    				<span class="input-group-addon trans interactive pointer" ng-click="removeTag(graph.annoEvents.tags, tk);">		
			    					<i class="glyphicon glyphicon-remove"></i>
			    				</span>
			    			</div>
						</li>
					</ul>
			    </div>
			    <div class="input-group input-group-sm padb10 padl10">
			    	<input type="text" class="form-control dark" ng-model="graph.annoEvents.tags" tagkeyvalue style="border-color:#888 !important">
			    	<span class="input-group-addon nobg" style="color:#ccc;border-color:#888;"><i class="glyphicon glyphicon-search"></i></span>
			    </div>
			    <div class="padt10" style="border-top:1px solid #777">
					<div class="small padb10">Types :</div>
					<div class="padl7">
						<div ng-repeat="evtType in graph.annoEvents.eventTypes" class="small removable-tag">
							<a href="javascript:void(0)" style="color:#ccc" class="interactive" ng-click="graph.annoEvents.eventTypes.splice($index,1)">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
							<span>{{evtType}}</span>
						</div>
					</div>
					<div style="clear:both;"></div>
					<div class="input-group input-group-sm padt5 padl10">
				    	<input type="text" class="form-control dark" style="border-color:#888 !important" ng-model="graph.annoEvents.eventTypes" event-types>
				    	<span class="input-group-addon nobg" style="color:#ccc;border-color:#888;">
				    		<i class="glyphicon glyphicon-search"></i>
				    	</span>
			    	</div>
				</div>
				<div class="gcontrols-apply-btn pointer" title="Apply event annotation changes" ng-click="reloadGraph(graph)">
					<span>Apply</span>
				</div>
			</div>
		</div>
	</div>
</div>