<div class="graph-container">
	<div class="graph-face front{{editMode}}">
		<div class="input-group input-group-sm" style="width:100%">
			<a href="javascript:void(0)" class="input-group-addon nobg interactive" onclick="$(this).next().show()">
				<i class="glyphicon glyphicon-cog" style="font-size:14px;"></i>
			</a>
			<div ng-include="graphControlsHtml" style="display:none"></div>
			<input type="text" ng-model="graph.name" class="edit-comp{{editMode}} form-control" placeholder="Graph Name" disabled="true">
			<span class="input-group-addon nobg interactive" ng-click="reloadGraph(graph);" title="Refresh">
				<i class="glyphicon glyphicon-refresh" style="font-size:12px;color:#666;font-weight:bold"></i>
			</span>
		</div>
		<div class="graph {{graph.size}} text-center animated"  style="width:100%" data-graph-id="{{graph._id}}" ui-sortable ng-model="graph.series">
			<table class='gif-loader-table' style="color:#ccc"><tr><td>
				Drag metrics here from search
			</td></tr></table>
		</div>
		<!-- graph footer -->
		<div class="small padtb5 row" style="margin:0;background-color:none">
			<div class="col-md-3">
				<span class="btn-group dropup" style="position:relative;top:3px;">
					<span class="metric-loaded-btn interactive" data-toggle="dropdown" title="Metrics successfully loaded">{{graph|loadedSeries}} / {{graph.series.length}}</span>
					<ul class="dropdown-menu noshadow metric-status">
						<li ng-repeat="serie in graph.series" ng-attr-class="padlr10 padtb5 {{isSerieLoaded(graph, serie) || 'metric-not-loaded' }}">{{serie.query|metricQuery}}</li>
			        </ul>
		        </span>
	        </div>
	        <div class="col-md-9">
	        	<span data-graph-status="{{graph._id}}"></span>
	        </div>
		</div>
		<!-- graph controls -->
		<div class="graph-face back{{editMode}}">
			<div ng-include="queryEditorHtml" style="width:100%"></div>
			<div class="query-editor-footer">
				<a href="javascript:void(0)" title="Remove Graph" class="btn-danger graph-rm-btn edit-comp{{editMode}}" style="font-size:12px;" ng-click="pod.graphs.splice(pod.graphs.indexOf(graph),1);reflow();">
					<i class="glyphicon glyphicon-trash" style="font-weight:bold"></i>
					<span class="pad5">Delete</span>
				</a>
			</div>
		</div>
	</div>
</div>