<div ng-if="graph.series.length > 1">
	<div class="text-left pad10 interactive graph-control-item" data-toggle="collapse" data-target="[data-graph-operations='{{graph._id}}']" style="font-weight:bold">
		<span class="padl5 small">
			<span class="glyphicon glyphicon-th"></span>
			<span class="padl5">Metric Operations</span>
		</span>
		<span class="padlr5 pull-right">
			<i class="glyphicon glyphicon-chevron-down" style="position:relative;top:3px;"></i>
		</span>
	</div>
	<div data-graph-operations="{{graph._id}}" class="collapse graph-control-item-body" style="border-bottom:1px solid #454545;">
		<div class="padr10 padtb10 padl30">
			<textarea ng-model="graph.operations" placeholder="e.g. lambda a, b, c: ( a + b ) / c" class="animated"></textarea>
		</div>
	</div>
</div>