<div ng-include="editPanelHtml"></div>
<div class="row edit-comp{{editMode}}" id="main-view">
	<div class="col-md-12" style="padding:0">
		<div ng-include="pageHeaderHtml"></div>
		<div class="row layout edit-comp{{editMode}}" ui-sortable="layoutSortOpts" ng-model="model.layout" layout="true">
			<div class="dblclick-helper edit-comp{{editMode}} text-center">Double-click to add new pod</div>		
			<div ng-repeat="row in model.layout" class="row layout-row edit-comp{{editMode}}" ng-include="podHtml" ui-sortable="rowSortOpts" ng-model="row" row="true">
			</div>
			<div class="dblclick-helper edit-comp{{editMode}} text-center">Double-click to add new pod</div>
		</div>
		<div class="text-center small">
			<a href="#/tutorials" class="pad5 interactive" style="font-weight:bold;color:#555">tutorials</a>
		</div>
	</div><!-- END .col-md-9 -->
</div><!-- END .row -->