<div ng-repeat="serie in graph.series">
	<div class="graph-metric-label padb10 padlr5 animated" data-toggle="collapse" data-target="[data-metric-editor='{{graph._id}}-{{$index}}']" onclick="$(this).parent().toggleClass('selected')">
		<div class="row" style="margin:0">
			<div class="col-md-9" style="padding:0">
				<div class="text-left padt10 padr10 graph-metric-label-header">
					<span class="padr5" style="font-weight:bold">{{serie.query|metricQuery}}<span class="tagstr-label">{{serie.query.tags|tagsString}}</span></span>
				</div>
			</div>
			<div class="col-md-3" style="padding:0">
				<div class="padr10 padt10">
					<span class="interactive"  title="Remove metric" ng-click="graph.series.splice(graph.series.indexOf(serie),1);" style="color:#bbb">
						<i class="glyphicon glyphicon-trash" style="font-size:14px;"></i>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="metric-editor collapse" data-metric-editor="{{graph._id}}-{{$index}}">
	    <div class="padtb10 padlr5">
		    <div class="row" style="margin:0">
		    	<div class="col-md-8 text-left" style="padding:0px !important">
			    	<span class="metric-control-label">Aggregator : </span>
			    	<select ng-model="serie.query.aggregator" class="dark">
						<option value="min">min</option>
						<option value="avg">avg</option>
						<option value="sum">sum</option>
						<option value="max">max</option>
					</select>
				</div>
		    	<div class="col-md-4 text-right" style="padding:0px !important">
			    	<span class="metric-control-label padr5">Rate</span>
			    	<span style="position:relative;top:3px"><input type="checkbox" ng-model="serie.query.rate"></span>
		    	</div>
		    </div>
	    </div>
	    <div class="pad5" style="border-top:1px solid #636363;">
	    	<div class="metric-control-label text-left">Tags</div>
	    	<ul style="margin-bottom:5px;margin-top:5px;padding-left:10px">
				<li ng-repeat="(tk,tv) in serie.query.tags" class="padtb3">
	    			<div class="input-group input-group-sm">
	    				<span class="input-group-addon trans" style="border-color:#666!important">{{tk}}</span>
	    				<input ng-model="serie.query.tags[tk]" type="text" title="Edit tag values" class="form-control dark" style="border-color:#666!important">
	    				<span class="input-group-addon trans interactive pointer" ng-click="removeTag(serie.query.tags, tk);" style="border-color:#666!important">		
	    					<i class="glyphicon glyphicon-remove"></i>
	    				</span>
	    			</div>
				</li>
			</ul>
	    </div>
	    <div class="input-group input-group-sm padb10 padl15" style="border-bottom:1px solid #636363">
	    	<input type="text" class="form-control dark" ng-model="serie.query.tags" tagkeyvalue>
	    	<span class="input-group-addon nobg" style="padding-right:5px;color:#ccc;">
	    		<i class="glyphicon glyphicon-search"></i>
	    	</span>
	    </div>
	    <div class="padlr5">
		    <div class="input-group input-group-sm padt10">
		    	<span class="input-group-addon nobg metric-control-label">Alias </span>
		    	<input type="text" class="form-control dark" ng-model="serie.alias">
		    </div>
		    <div class="input-group input-group-sm padt5 padb10">
		    	<span class="input-group-addon nobg metric-control-label">Y-Transform </span>
		    	<input type="text" class="form-control dark" ng-model="serie.yTransform">
		    </div>
		</div>
	    <div ng-if="graph.multiPane" class="text-left padtb10 padlr5" style="border-top:1px solid #636363">
	    	<span class="padlr10 metric-control-label">Pane</span>
	    	<select ng-model="serie.paneIndex" class="dark">
	    		<option ng-repeat="pane in graph.panes track by $index">{{$index}}</option>
	    	</select>
	    </div>
	</div>
</div>