
<div class="edit-comp{{editMode}}" id="edit-panel">
	<div class="row" style="margin:0;padding:0">
		<div class="col-md-2 text-center edit-panel-item" style="height:100%;padding:0">
			<div class="edit-panel-btn" style="border-top:1px solid rgba(66,66,66,0.6)">
					<i class="glyphicon glyphicon-search"></i>
			</div>
			<!--
			<div ui-sortable="podSortOpts" drag-copy="true" ng-model="droppablePodSchema" title="Drag to create pod">
				<div class="interactive grab"> 
					<i class="glyphicon glyphicon-folder-close"></i>
				</div>
			</div>
			-->
			<div class="edit-panel-btn pointer iactive" title="Delete Page" ng-click="removeModel()">
				<i class="glyphicon glyphicon-trash"></i>
			</div>

			<div ng-click="saveModel()" class="edit-panel-btn pointer iactive" title="Save Page">
				<i class="glyphicon glyphicon-save"></i>
			</div>
		</div>
		<div class="col-md-10" style="height:100%;padding-left:0;padding-right:0">
			<div class="edit-panel-item header">
				<input type="text" class="edit-panel-item-label search-field" ng-model="metricQuery" ng-change="searchForMetric()" placeholder="Metric Search">
			</div>
			<div ui-sortable="metricListSortOpts" drag-copy="true" ng-model="metricQueryResult" class="inset-shadow">
				<div class="metric interactive" ng-repeat="metric in metricQueryResult" ng-model="metric" title="{{metric.query.metric}}">
					<span class="padr10"><i class="glyphicon glyphicon-stats"></i></span>
					<span>{{metric.query.metric}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row edit-comp{{editMode}}" style="margin:0;padding-left:10px;padding-right:10px" id="main-view">
	<div class="col-md-12" style="padding:0">
		<div ng-include="pageHeaderHtml"></div>
		<div class="row layout edit-comp{{editMode}}" ui-sortable="layoutSortOpts" ng-model="model.layout" layout="true">
			<div class="dblclick-helper edit-comp{{editMode}} text-center">Double-click to add new pod</div>		
			<div ng-repeat="row in model.layout" class="row layout-row edit-comp{{editMode}}" ng-include="podHtml" ui-sortable="rowSortOpts" ng-model="row" row="true">
			</div>
			<div class="dblclick-helper edit-comp{{editMode}} text-center">Double-click to add new pod</div>
		</div>
		<div class="text-center small">
			<a href="#/tutorials" class="pad5 interactive" style="font-weight:bold;color:#555">tutorials</a>
		</div>
	</div><!-- END .col-md-9 -->
</div><!-- END .row -->