<div id="page-mast-trigger"></div>
<div id="page-mast" class="animated bottom-shadow">
	<div class="row" style="margin:0">
		<div class="col-md-6" style="padding:0;">
			<span>
				<a href="javascript:void(0)" ng-click="loadHome()" style="color:#ddd" class="interactive">
					<span class="pad5" style="font-size:22px;font-weight:bold;">metrilyx</span>
					<span style="opacity:0.5">v2.3.1</span>
				</a>
			</span>
		</div>
		<div class="col-md-6 text-right" style="padding:0px"></div>
	</div>
</div>
