<div class="page-model-header edit-comp{{editMode}}">
	<div class="row" style="margin:0;">
		<div class="col-md-4" style="padding:0;">
			<span class="pointer interactive" ng-click="toggleEditMode()" title="Edit Page" style="font-size:20px;color:#666">
				<i class="glyphicon glyphicon-cog"></i>
			</span>
			<div ng-if="editMode==''||modelType==='adhoc'" ng-repeat="(tagname, tagvalues) in tagsOnPage" class="btn-group padlr5 padtb3" style="color:#666;">
			  <span class="pointer interactive dropdown-toggle pad5" data-toggle="dropdown">
				<span class="small">
					<span class="padr5">{{tagname}}</span><span class="caret"></span>
				</span>
			  </span>
			  <ul class="dropdown-menu noshadow result-tags bottom-shadow small" role="menu">
			    <li ng-repeat="tagvalue in tagvalues|orderBy:'toString()'">
			    	<a href="javascript:void(0)" ng-click="updateGlobalTag(tagname, tagvalue);">{{tagvalue}}</a>
			    </li>
			  </ul>
			</div>
		</div>
		<!-- Page Name/ID -->
		<div ng-if="modelType!=='adhoc'" class="col-md-4 text-center" style="padding:0">
				<div class="row">
					<div class="col-md-12" style="padding:0px">
						<input type="text" ng-model="model.name" class="edit-comp{{editMode}}" placeholder="Page Name" title="Page Name" required disabled>
						<input type="text" ng-model="model._id" class="edit-comp{{editMode}}" placeholder="Page ID" required style="min-width: 40px;" title="Page ID" page-id>
					</div>
				</div>
		</div>
		<div ng-if="modelType==='adhoc'" class="col-md-4 text-center" style="padding:0">
			<div class="padt5">
			<div class="row" style="margin:0;font-size:12px;">
				<div class="col-md-12">
					<span class="padlr5">
						<span style="color:#888">Type :</span>
						<select ng-model="graph.graphType" class="select-input borderless" style="font-size:13px;color:#555;">
							<option value="line">line</option>
							<option value="spline">spline</option>
							<option value="area">area</option>
							<option value="pie">pie</option>	
						</select>
					</span>
					<span class="padlr5">
						<span style="color:#888">Size :</span>
						<select ng-model="graph.size" ng-change="graphSizeChanged()" class="select-input borderless" style="font-size:13px;color:#555;">
							<option value="small">small</option>
							<option value="medium">medium</option>
							<option value="large">large</option>
						</select>
					</span>
				</div>
			</div>
			</div>
		</div>
		<!-- time picker -->
		<div class="col-md-4 text-right" style="padding:0;">
			<div ng-if="(modelType==='adhoc')||(modelType!=='heatmap/' && editMode==='')">
				<div class="row" style="margin:0">
					<div class="col-md-12 text-right" style="padding:0">
						<span class="animated select-container left-caret">
							<span class="caret"></span>
							<select ng-model="timeType" relative-time="true" class="time interactive">
				            	<option value="24h-ago">24 hours</option>
				            	<option value="12h-ago">12 hours</option>
				            	<option value="6h-ago">6 hours</option>
				            	<option value="3h-ago">3 hours</option>
				            	<option value="2h-ago">2 hours</option>
				            	<option value="1h-ago">1 hour</option>
				            	<option value="5m-ago">5 mins</option>
				            	<option value="1m-ago">1 min</option>
				            	<option value="absolute">Custom</option>
				            </select>
			            </span>
						<span id="absolute-time" class="time animated btn-group btn-group-sm {{timeType}}">
							<span ng-model="startTime" date-time class="btn btn-default interactive absolute-time-field">
								<span>
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<span style="padding-left:5px;">{{startTime|dateTime}}</span>
			                </span>
			                <span ng-model="endTime" date-time class="btn btn-default interactive absolute-time-field">
			                	<span><i class="glyphicon glyphicon-calendar"></i></span>
			                	<span style="padding-left:5px;">{{endTime|dateTime}}</span>
			                </span>
			                <button class="btn btn-default interactive" style="padding-top:8px;padding-bottom:8px;" ng-click="setAbsoluteTime()" title="Apply">
			                	<i class="glyphicon glyphicon-ok"></i>
			                </button>
		                </span>
			        </div>
				</div>
			</div>
			<div ng-if="modelType!=='adhoc'" class="tags-panel edit-comp{{editMode}}">
				<div class="padlr5" style="border-bottom:1px solid #ddd;padding-bottom:3px">
					<div class="row" style="margin:0;color:#666">
						<div class="col-md-6 text-left" style="padding:0">
							<span>Tags</span>
						</div>
						<div class="col-md-6 text-right" style="padding:0">
							<span class="interactive pointer" data-toggle="modal" data-target="#add-page-tag">
								<i class="glyphicon glyphicon-plus" style="font-size: 12px;"></i>
							</span>	
						</div>
					</div>
				</div>
				<div class="text-left margint10">
					<span ng-repeat="tag in model.tags" class="page-tag">
						<span class="interactive pointer" title="Remove tag" ng-click="model.tags.splice(models.tags.indexOf(tag),1)">
							<i class="glyphicon glyphicon-remove" style="font-size: 12px;"></i>
						</span>
						<span>{{tag}}</span>
					</span>
				</div>
			</div>
		</div>
	</div><!-- END .row -->
</div>