<div class="shift" id="stage">
	<ng-include src="pageMastHtml"></ng-include>
	<ng-include src="editPanelHtml" onload="onEditPanelLoad()"></ng-include>
	<div class="row edit-comp{{editMode}}" id="main-view">
		<div class="col-md-12" style="padding:0">
			<ng-include src="pageHeaderHtml" onload="onPageHeaderLoad()"></ng-include>
			<div class="row layout edit-comp{{editMode}}" ui-sortable="layoutSortOpts" ng-model="model.layout" layout="true">
				<div class="dblclick-helper layout-helper edit-comp{{editMode}} text-center">Double-click to add a <b>pod</b> to a <b>new row</b></div>		
				<div ng-repeat="row in model.layout" class="row layout-row edit-comp{{editMode}}" ng-include="podHtml" ui-sortable="rowSortOpts" ng-model="row" row="true">
				</div>
				<div class="dblclick-helper layout-helper edit-comp{{editMode}} text-center">Double-click to add a <b>pod</b> to a <b>new row</b></div>
			</div>
			<div class="text-center small padb20">
				<a href="#/tutorials" class="pad5 interactive" style="font-weight:bold;color:#555">tutorials</a>
			</div>
		</div><!-- END .col-md-9 -->
	</div><!-- END .row -->

	<!-- static positioned display components (dialog boxes) -->
	<!-- these must be on the stage to avoid overflow-x -->	
	<div class="modal fade" id="confirm-delete">
		<div class="modal-dialog">
		    <div class="modal-content">
				<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title">Deleting <b>{{model.name}}</b></h4>
				</div>
				<div class="modal-body">
		        	<span>Are you sure you want to delete the <b>{{model._id}}</b> page?</span>
				</div>
			    <div class="modal-footer" style="margin-top:0px">
			    	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			    	<button type="button" class="btn btn-danger" ng-click="removeModel();">Delete</button>
			    </div>
		    </div>
		</div>
	</div>

	<div class="modal fade" id="add-page-tag">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        	<h4 class="modal-title">New Page Tag</b></h4>
				</div>
				<div class="modal-body">
					<span class="pad10"><i class="glyphicon glyphicon-tags"></i></span>
					<span class="padr10" style="font-weight:bold;">Tags</span>
					<input type="text" style="width:80%" id="new-tag-name" placeholder="tag1,tag2,tag3">
				</div>
				<div class="modal-footer" style="margin-top:0px">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" ng-click="addNewTags('#new-tag-name')">Add</button>
				</div>
			</div>
		</div>
	</div>

	<div id="event-anno-details" class="animated">
		<div onclick="$('#event-anno-details').removeClass('open')" class="pad10" style="background-color:#606060;border-bottom:1px solid #404040;cursor: e-resize;">
			<table><tr>
				<td style="padding-right:10px;">
					<span  style="color:#ccc">
						<i class="glyphicon glyphicon-chevron-right"></i>
					</span>
				</td>
				<td style="color: {{selectedAnno.color}};">
					<div style="font-size:14px;">
						<span><b>{{selectedAnno.eventType}}</b></span>
						<span class="padl10 small" style="color:#aaa">{{selectedAnno.timestamp|dateTime: true}}</span>
					</div>
					<div style="font-size:12px" class="padt3">{{selectedAnno.message}}</div>		
				</td>
			</tr></table>	
		</div>
		<div ng-repeat="(evtKey,evtVal) in selectedAnno.data" class="padtb6 padlr10" style="border-top:1px solid #636363;border-bottom:1px solid #343434">
			<span class="padr5"><b>{{evtKey}} :</b></span><span class="padl5" style="color: #bbb">{{evtVal}}</span>
		</div>
	</div>
</div>