<div class="row edit-comp" style="margin:0;">
	<div class="col-md-12 nopad">
		<div class="input-group input-group-sm padtb5" style="border-bottom:1px solid #eee;">
			<span class="input-group-addon threshold-label danger">Danger: </span>
			<input type="text" class="form-control" ng-model="graph.thresholds.danger.max" style="color:rgba(187,74,71,0.95);" placeholder="Upper bound">
			<input type="text" class="form-control" ng-model="graph.thresholds.danger.min" style="color:rgba(187,74,71,0.95);" placeholder="Lower bound">
			<span class="input-group-addon threshold-label warning">Warn: </span>
			<input type="text" class="form-control" ng-model="graph.thresholds.warning.max" style="color:rgba(224,158,73,0.95);" placeholder="Upper bound">
			<input type="text" class="form-control" ng-model="graph.thresholds.warning.min" style="color:rgba(224,158,73,0.95);" placeholder="Lower bound">
			<span class="input-group-addon threshold-label info">Info: </span>
			<input type="text" class="form-control" ng-model="graph.thresholds.info.max" style="color:rgba(99,177,211,0.95);" placeholder="Upper bound">
			<input type="text" class="form-control" ng-model="graph.thresholds.info.min" style="color:rgba(99,177,211,0.95);" placeholder="Lower bound">
			<span ng-if="modelType!=='heatmap/'" class="input-group-addon btn btn-default" style="padding-right:8px;">
				<a href="javascript:void(0)" style="color:#666" class="interactive" title="Set thresholds" ng-click="setPlotBands(graph)">
					<i class="glyphicon glyphicon-ok"></i>
				</a>
			</span>
		</div>
	</div>
</div>