<div class="row edit-comp" style="margin:0;display:none">
	<div class="col-md-4 nopad">
		<span class="input-group input-group-sm">
			<span class="input-group-addon label-danger">Danger</span>
			<input type="text" class="form-control" ng-model="graph.thresholds.danger">
		</span>
	</div>
	<div class="col-md-4 nopad">
		<span class="input-group input-group-sm">
			<span class="input-group-addon label-warning">Warn</span>
			<input type="text" class="form-control" ng-model="graph.thresholds.warning">
		</span>
	</div>
	<div class="col-md-4 nopad">
		<span class="input-group input-group-sm">
			<span class="input-group-addon label-info">Info</span>
			<input type="text" class="form-control" ng-model="graph.thresholds.info">
		</span>
	</div>
</div>